Repository evmos/evmos, pull requests merged in 2021-12, with the labels that each got.

#136 ci: rename docker hub account tharsislabs -> tharsishq
  .github/workflows/docker-push.yml
  CHANGELOG.md
  Makefile
  docs/quickstart/installation.md
Labels: Type: Build, Type: CI, Type: Docs

#121 fix: intrarelayer proposals are not registered
  CHANGELOG.md
  app/app.go
  x/intrarelayer/client/cli/query.go
  x/intrarelayer/client/cli/tx.go
  x/intrarelayer/client/cli/utils.go
  x/intrarelayer/client/proposal_handler.go
  x/intrarelayer/client/rest/rest.go
  x/intrarelayer/client/testutil/cli_test.go
  x/intrarelayer/client/tx.go
  x/intrarelayer/keeper/evm_hooks_test.go
  x/intrarelayer/keeper/migrations.go
  x/intrarelayer/keeper/proposals.go
  x/intrarelayer/module.go
  x/intrarelayer/proposal_handler.go
  x/intrarelayer/types/proposal.go
  x/intrarelayer/types/proposal_test.go
Labels: C:CLI

#138 release: v0.4.0 changelog
  CHANGELOG.md
Labels: automerge

#141 ENG 290 migrate cosmovisor and genesis validator instructions to the Evmos docs
  docs/guides/upgrades/upgrade_node.md
Labels: Type: Docs

#143 (build): added build-reproducible to makefile
  .build.sh
  .gitignore
  CHANGELOG.md
  Makefile
  docs/ethermint.jpg
  docs/quickstart/README.md
  docs/quickstart/interact_node.md
  docs/quickstart/reproducible-builds.md
  docs/quickstart/run_node.md
Labels: Type: Build, Type: Docs

#146 docs(evmos): Add link to consensus problems if you dont upgrade your node
  docs/guides/upgrades/upgrade_node.md
Labels: Type: Docs

#147 deps: bump SDK version
  go.mod
  go.sum
  x/intrarelayer/client/testutil/cli_test.go
Labels: C:CLI

#152 ci: mergify changes
  .mergify.yml
Labels: Type: CI

#151 Fix `evmosd version`
  CHANGELOG.md
  Makefile
Labels: Type: Build, backport/0.3.x, backport/0.4.x

#149 app: fix typo in calculation of failed transactions in TPS value
  app/tps_counter.go
Labels: bug, automerge, backport/0.4.x

#157 Release CHANGELOG v0.4.1
  .build.sh
  .gitignore
  .goreleaser.yml
  .mergify.yml
  CHANGELOG.md
  Makefile
  docs/.vuepress/config.js
  docs/basics/accounts.md
  docs/ethermint.jpg
  docs/guides/upgrades/upgrade_node.md
  docs/quickstart/README.md
  docs/quickstart/interact_node.md
  docs/quickstart/reproducible-builds.md
  docs/quickstart/run_node.md
  go.mod
  go.sum
  x/intrarelayer/client/testutil/cli_test.go
Labels: Type: Build, Type: CI, C:CLI, Type: Docs

#158 docs: block explorer
  docs/.vuepress/config.js
  docs/tools/explorers.md
  docs/tools/img/big_dipper.png
  docs/tools/img/blockscout.png
Labels: Type: Docs

#159 docs: quick facts table
  docs/intro/overview.md
Labels: Type: Docs

#167 release: handler fix changelog
  CHANGELOG.md
  app/app.go
  docs/.vuepress/config.js
  docs/intro/overview.md
  docs/tools/explorers.md
  docs/tools/img/big_dipper.png
  docs/tools/img/blockscout.png
Labels: Type: Docs

#163 add evm specs from ethermint repo
  docs/core/state_snapshot.md
  docs/pre.sh
  x/README.md
Labels: Type: Docs
