Repository evmos/evmos, pull requests merged in 2021-11, with the labels that each got.

#76 ENG-208-keplr-guide
  docs/guides/img/keplr_approve_chain.png
  docs/guides/img/keplr_transaction.png
  docs/guides/keys-wallets/keplr.md
  docs/testnet/faucet.md
Labels: Type: Docs

#88 Add note that only secp256k1 keys are supported
  docs/guides/keys-wallets/keplr.md
Labels: Type: Docs

#91 ci: add gosec to PRs and main
  .github/workflows/security.yml
Labels: Type: CI

#81 docs: incentivized testnet
  docs/.vuepress/config.js
  docs/api/json-rpc/endpoints.md
  docs/basics/chain_id.md
  docs/guides/keys-wallets/keplr.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/faucet.md
  docs/testnet/img/faucet_web_page.png
  docs/testnet/join.md
Labels: Type: Docs

#99 Use gogoproto.customname to name EnableEVMHook parameter
  CHANGELOG.md
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/intrarelayer/v1/genesis.proto
  x/intrarelayer/types/genesis.pb.go
Labels: C:Proto, Type: Docs

#101 Upload intrarelayer spec to Evmos Github
  .markdownlint.yml
  x/README.md
  x/intrarelayer/spec/01_concepts.md
  x/intrarelayer/spec/02_state.md
  x/intrarelayer/spec/03_state_transitions.md
  x/intrarelayer/spec/04_transactions.md
  x/intrarelayer/spec/05_hooks.md
  x/intrarelayer/spec/06_events.md
  x/intrarelayer/spec/07_parameters.md
  x/intrarelayer/spec/08_clients.md
  x/intrarelayer/spec/README.md
Labels: Type: Docs

#112 fedekunze/update docs
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/testnet/join.md
Labels: Type: Docs

#113 ci: enable gosec sarif upload
  .github/workflows/security.yml
Labels: Type: CI

#117 ci: backport PRs
  .markdownlint.yml
  .markdownlintignore
  .mergify.yml
  CHANGELOG.md
Labels: Type: CI

#116 build: fix docker-build command
  CHANGELOG.md
  Dockerfile
  Makefile
  docs/quickstart/installation.md
Labels: Type: Build, Type: Docs, backport/0.3.x

#123 docs: seeds
  docs/testnet/join.md
Labels: Type: Docs

#122 app: only log TPS if value > 0
  app/tps_counter.go
Labels: backport/0.3.x

#125 docs: reset metamask account
  docs/guides/img/reset_account.png
  docs/guides/keys-wallets/metamask.md
Labels: Type: Docs

#126 ci: build docker containers and push to docker hub
  .github/workflows/docker-push.yml
  Makefile
  docs/quickstart/installation.md
Labels: Type: Build, Type: CI, Type: Docs

#133 Docs(Intrarelayer): Add Use Cases to abstract
  x/intrarelayer/spec/README.md
Labels: Type: Docs
