Repository evmos/evmos, pull requests merged in 2022-12, with the labels that each got.

#1133 fix: update Keplr docs to remove (beta)
  docs/users/wallets/keplr.md
Labels: Type: Docs

#1128 chore(docs): add priority mempool docs
  docs/validators/setup/configuration.md
  docs/validators/setup/mempool.md
Labels: Type: Docs

#1139 chore: remove simulations
  Makefile
  app/app.go
Labels: Type: Build

#1135 docs: Add Ledger CLI docs
  docs/users/wallets/ledger.md
Labels: Type: Docs

#1127 docs(guides) add automated coin conversion guide
  docs/developers/guides/automated_coin_conversion.md
Labels: Type: Docs

#1158 chore(release): v10.0-rc2
  .github/workflows/build-docs.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/slither.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  app/app.go
  cmd/evmosd/root.go
  crypto/keyring/options.go
  go.mod
  go.sum
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
Labels: Type: Build, Type: CI

#1160 debug(app): add flag for remote debugging compile
  Makefile
Labels: Type: Build

#1164 fix (docs): fix typos in inflation docs
  x/inflation/spec/01_concepts.md
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/spec/04_events.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
Labels: Type: Docs

#1155 chore(vesting) - Migrate Event emitting to TypedEvent
  CHANGELOG.md
  proto/evmos/vesting/v1/events.proto
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.pb.go
  x/vesting/types/msg_test.go
Labels: C:Proto

#1169 tests: separate e2e upgrade tests from unit tests
  .github/workflows/upgrade-test.yml
  Makefile
Labels: Type: Build, Type: CI

#1170 fix: add e2e upgrade test to PRs only for branches release
  .github/workflows/upgrade-test.yml
Labels: Type: CI

#1154 fix(docs): download necessary third party specs in pre.sh
  docs/format/format_cosmos_specs.py
  docs/format/test_format_cosmos_specs.py
  docs/package.json
  docs/pre.sh
Labels: Type: Docs

#1100 chore(erc20): Deprecate x/params usage in x/erc20
  CHANGELOG.md
  app/app.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/genesis.go
  x/erc20/handler.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/params.go
  x/erc20/keeper/params_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/params.go
  x/erc20/module.go
  x/erc20/types/codec.go
  x/erc20/types/interfaces.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
  x/erc20/types/tx.pb.go
Labels: C:Proto

#1152 chore(erc20) - Migrate Event emitting to TypedEvent
  CHANGELOG.md
  proto/evmos/erc20/v1/events.proto
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/proposal_handler.go
  x/erc20/types/events.go
  x/erc20/types/events.pb.go
Labels: C:Proto

#1177 imp (docs): add remark about restarting a node after changes to mempool config
  docs/validators/setup/mempool.md
Labels: Type: Docs

#1173 impr (ci): add python to code ql analysis
  .github/workflows/codeql-analysis.yml
Labels: Type: CI

#1178 fix (ci, docs): fix docs building and improve docs-build GH action
  .github/workflows/build-docs.yml
  .gitignore
  docs/pre.sh
Labels: Type: CI, Type: Docs

#1179 Release `v10.0.0-rc3`
  CHANGELOG.md
  Makefile
  app/app.go
  cmd/evmosd/root.go
  go.mod
  go.sum
Labels: Type: Build

#1183 fix (docs): replace several outdated links on docs
  README.md
  docs/DOCS_README.md
  docs/about/intro/resources.md
  docs/architecture/adr-002-evm-hooks.md
  docs/users/governance/param_change.md
  docs/validators/upgrades/automated.md
  x/claims/spec/02_state.md
  x/incentives/spec/05_hooks.md
  x/recovery/spec/01_concepts.md
  x/recovery/spec/README.md
  x/revenue/spec/01_concepts.md
  x/revenue/spec/05_hooks.md
  x/vesting/spec/01_concepts.md
  x/vesting/spec/02_state.md
  x/vesting/spec/README.md
Labels: Type: Docs, Type: ADR

#1184 build (deps): bump Ethermint version to v0.20.0-rc5
  CHANGELOG.md
  go.mod
  go.sum
Labels: backport/10.0.x
