Repository evmos/evmos, pull requests merged in 2022-01, with the labels that each got.

#190 ENG 388 Remove governance hook from erc20 module
  CHANGELOG.md
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/genesis.proto
  x/erc20/keeper/gov_hooks.go
  x/erc20/keeper/gov_hooks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/spec/07_parameters.md
  x/erc20/types/genesis.pb.go
  x/erc20/types/genesis_test.go
  x/erc20/types/interfaces.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
Labels: C:Proto, C:CLI, Type: Docs

#192 ENG 377 Delayed malicious effects
  CHANGELOG.md
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/spec/03_state_transitions.md
  x/erc20/types/contracts/ERC20MaliciousDelayed.json
  x/erc20/types/contracts/erc20maliciousdelayed.go
  x/erc20/types/contracts/raw-contracts.md
  x/erc20/types/errors.go
Labels: Type: Docs

#203 all: photon -> evmos
  cmd/config/config.go
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  config.yml
  docs/basics/tokens.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/guides/validators/setup.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/join.md
  init.bat
  init.sh
  scripts/integration-test-all.sh
  scripts/start-docker.sh
  scripts/start.sh
  x/erc20/client/cli/tx.go
Labels: Type: Build, C:CLI, Type: Docs

#206 fix incentives cli
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
Labels: C:CLI

#208 feat(incentives): fix cli query descriptions
  x/incentives/client/cli/query.go
Labels: C:CLI

#212 ENG-446 add scale parameter
  client/docs/statik/statik.go
  cmd/evmosd/init.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/incentives/v1/genesis.proto
  x/erc20/keeper/msg_server_test.go
  x/incentives/client/cli/query.go
  x/incentives/genesis.go
  x/incentives/keeper/allocation_meters.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/epoch_hooks.go
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/gas_meters.go
  x/incentives/keeper/gas_meters_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/incentives.go
  x/incentives/keeper/incentives_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/params.go
  x/incentives/keeper/proposals.go
  x/incentives/keeper/proposals_test.go
  x/incentives/proposal_handler.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/params.go
  x/incentives/types/params_test.go
  x/incentives/types/proposal_test.go
Labels: C:Proto, C:CLI, Type: Docs

#216 ENG 451 fixes from spec review
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/incentives/v1/query.proto
  x/incentives/client/cli/query.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/epoch_hooks.go
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/proposals.go
  x/incentives/keeper/proposals_test.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#218 ENG 403 incentives spec
  x/README.md
  x/incentives/spec/01_concepts.md
  x/incentives/spec/02_state.md
  x/incentives/spec/03_state_transitions.md
  x/incentives/spec/04_transactions.md
  x/incentives/spec/05_hooks.md
  x/incentives/spec/06_events.md
  x/incentives/spec/07_parameters.md
  x/incentives/spec/08_clients.md
  x/incentives/spec/README.md
Labels: Type: Docs

#219 docs: update denoms and validators
  CONTRIBUTING.md
  README.md
  docs/.vuepress/config.js
  docs/guides/keys-wallets/keplr.md
  docs/guides/validators/faq.md
  docs/guides/validators/overview.md
  docs/quickstart/installation.md
  docs/testnet/join.md
Labels: Type: Docs

#225 fix: docs build
  docs/.vuepress/config.js
  docs/guides/validators/overview.md
  docs/package-lock.json
  docs/package.json
  docs/testnet/join.md
  docs/yarn.lock
Labels: bug, Type: Docs

#224 fix: update power reduction
  CHANGELOG.md
  app/app.go
Labels: bug

#226 ENG 452 replace sdk mint module
  app/app.go
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  x/epochs/client/cli/cli_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/testing/integration_test.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/proposals.go
  x/incentives/types/interfaces.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
  x/inflation/client/cli/cli_test.go
  x/inflation/client/cli/query.go
  x/inflation/client/rest/grpc_query_test.go
  x/inflation/client/rest/query.go
  x/inflation/client/rest/rest.go
  x/inflation/genesis.go
  x/inflation/genesis_test.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/integration_test.go
  x/inflation/keeper/keeper.go
  x/inflation/keeper/keeper_test.go
  x/inflation/keeper/migrations.go
  x/inflation/keeper/minter.go
  x/inflation/keeper/params.go
  x/inflation/module.go
  x/inflation/module_test.go
  x/inflation/types/codec.go
  x/inflation/types/events.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/hooks.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/interfaces.go
  x/inflation/types/keys.go
  x/inflation/types/minter.go
  x/inflation/types/minter_test.go
  x/inflation/types/params.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#232 ci: enable semgrep config
  .github/workflows/semgrep.yml
  .semgrepignore
  cmd/config/observability.go
  x/erc20/testing/integration_test.go
Labels: Type: CI

#231 build: fix mergify
  .mergify.yml
Labels: Type: CI

#235 docs: genesis instructions
  init.sh
  x/README.md
  x/claims/spec/01_Genesis.md
  x/claims/spec/README.md
Labels: Type: Docs

#230 ENG 453 mint and allocation
  app/app.go
  app/test_helpers.go
  client/docs/statik/statik.go
  cmd/config/config.go
  cmd/config/observability.go
  cmd/evmosd/main.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  x/epochs/keeper/keeper_test.go
  x/erc20/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/types/params.go
  x/inflation/client/cli/query.go
  x/inflation/client/rest/grpc_query_test.go
  x/inflation/client/rest/query.go
  x/inflation/client/rest/rest.go
  x/inflation/genesis.go
  x/inflation/genesis_test.go
  x/inflation/keeper/epoch_mint_provisions.go
  x/inflation/keeper/epoch_mint_provisions_test.go
  x/inflation/keeper/genesis_test.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/keeper/keeper.go
  x/inflation/keeper/keeper_test.go
  x/inflation/keeper/minter.go
  x/inflation/keeper/params_test.go
  x/inflation/keeper/periods.go
  x/inflation/keeper/periods_test.go
  x/inflation/keeper/team_vesting_minted.go
  x/inflation/keeper/team_vesting_minted_test.go
  x/inflation/module_test.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/genesis_test.go
  x/inflation/types/hooks.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/inflation_calculation.go
  x/inflation/types/inflation_calculation_test.go
  x/inflation/types/interfaces.go
  x/inflation/types/keys.go
  x/inflation/types/minter.go
  x/inflation/types/minter_test.go
  x/inflation/types/params.go
  x/inflation/types/params_test.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#214 ibc callbacks tests
  app/test_helpers.go
  client/docs/statik/statik.go
  go.mod
  go.sum
  x/claim/ibc_module.go
  x/claim/keeper/ibc_callbacks_test.go
Labels: C:CLI

#245 fix: include evmos gRPC to swagger.yaml
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Labels: C:CLI

#249 feat(inflation): remove team vesting logic
  app/app.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/genesis.proto
  x/epochs/keeper/keeper_test.go
  x/erc20/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/genesis.go
  x/inflation/keeper/genesis_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/keeper.go
  x/inflation/keeper/keeper_test.go
  x/inflation/keeper/team_vesting_minted.go
  x/inflation/keeper/team_vesting_minted_test.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/genesis_test.go
  x/inflation/types/keys.go
  x/inflation/types/params.go
  x/inflation/types/params_test.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
Labels: C:Proto, Type: Docs

#250 feat(inflation): replace epoch info in params to be stored in store directly
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.sum
  proto/evmos/inflation/v1/genesis.proto
  x/inflation/genesis.go
  x/inflation/keeper/epoch_info.go
  x/inflation/keeper/epoch_info_test.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/params_test.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/genesis_test.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/inflation_calculation.go
  x/inflation/types/inflation_calculation_test.go
  x/inflation/types/keys.go
  x/inflation/types/params.go
  x/inflation/types/params_test.go
Labels: C:Proto, C:CLI, Type: Docs
