Repository evmos/evmos, pull requests merged in 2022-05, with the labels that each got.

#544 audit(erc20): Changes from api audit
  CHANGELOG.md
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  x/README.md
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/client/rest/rest.go
  x/erc20/client/testutil/cli_test.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/grpc_query.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/proposal_handler.go
  x/erc20/spec/01_concepts.md
  x/erc20/spec/02_state.md
  x/erc20/spec/03_state_transitions.md
  x/erc20/spec/04_transactions.md
  x/erc20/spec/05_hooks.md
  x/erc20/spec/06_events.md
  x/erc20/spec/07_parameters.md
  x/erc20/spec/08_clients.md
  x/erc20/spec/README.md
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/query.pb.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs, API breaking

#547 audit(erc20): state machine audit
  x/erc20/keeper/evm.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/spec/03_state_transitions.md
  x/erc20/spec/05_hooks.md
Labels: Type: Docs

#577 Correct testnet endpoint URLs
  docs/developers/connect.md
Labels: Type: Docs

#578 docs: upgrade deps
  docs/package.json
Labels: Type: Docs

#555 release: v4 upgrade logic
  CHANGELOG.md
  app/app.go
  app/app_test.go
  app/forks.go
  app/test_helpers.go
  app/upgrades/mainnet/v2/constants.go
  app/upgrades/testnet/v3/constants.go
  app/upgrades/testnet/v3/upgrades.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
  cmd/evmosd/migrate.go
  types/utils.go
  x/inflation/keeper/inflation.go
Labels: C:Types

#579 ci: update mergify config
  .mergify.yml
Labels: Type: CI

#583 release: v3.0.1
  CHANGELOG.md
  app/app.go
  app/app_test.go
  app/forks.go
  app/test_helpers.go
  app/upgrades/mainnet/v2/constants.go
  app/upgrades/testnet/v3/constants.go
  app/upgrades/testnet/v3/upgrades.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  cmd/evmosd/init.go
  cmd/evmosd/migrate.go
  go.mod
  go.sum
  types/utils.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/inflation/keeper/inflation.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/staking_helpers.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/interfaces.go
  x/vesting/types/schedule.go
Labels: C:Types

#584 release: v3.0.1 changelog
  CHANGELOG.md
Labels: backport/4.0.x

#582 release: v4.0.0
  CHANGELOG.md
  app/app.go
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/client/cli/query.go
  x/fees/client/cli/tx.go
  x/fees/genesis.go
  x/fees/handler.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/msg_server_test.go
  x/fees/keeper/params.go
  x/fees/keeper/params_test.go
  x/fees/module.go
  x/fees/spec/01_concepts.md
  x/fees/spec/02_state.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/04_transactions.md
  x/fees/spec/05_hooks.md
  x/fees/spec/06_events.md
  x/fees/spec/07_parameters.md
  x/fees/spec/08_clients.md
  x/fees/spec/09_improvements.md
  x/fees/spec/README.md
  x/fees/types/codec.go
  x/fees/types/errors.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fee_test.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/genesis_test.go
  x/fees/types/interfaces.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#588 fix: readd erc20 migration logic
  CHANGELOG.md
  x/erc20/keeper/migrations.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/module.go
Labels: bug, backport/4.0.x

#590 release: update v4 upgrade info
  CHANGELOG.md
  app/upgrades/v4/constants.go
Labels: bug

#592 audit(erc20): completeness
  CHANGELOG.md
  client/docs/statik/statik.go
  x/erc20/client/cli/query.go
  x/erc20/client/cli/tx.go
  x/erc20/client/testutil/cli_test.go
  x/erc20/genesis.go
  x/erc20/genesis_test.go
  x/erc20/keeper/grpc_query.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/spec/01_concepts.md
  x/erc20/spec/02_state.md
  x/erc20/spec/03_state_transitions.md
Labels: C:CLI, Type: Docs, backport/4.0.x

#598 impr(erc20): fix cli register ibc coin template
  x/erc20/client/cli/tx.go
  x/erc20/keeper/mint.go
  x/erc20/types/errors.go
Labels: C:CLI

#599 docs: v4 upgrade documentation
  .gitignore
  docs/.vuepress/config.js
  docs/developers/explorers.md
  docs/validators/mainnet.md
  docs/validators/testnet.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Labels: Type: Docs

#586 [ENG-222] fees improve test coverage
  app/app.go
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  x/fees/client/cli/tx.go
  x/fees/genesis.go
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/keeper/msg_server.go
  x/fees/module.go
  x/fees/types/codec_test.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.go
  x/fees/types/tx.pb.go
Labels: C:Proto, C:CLI, Type: Docs

#605 fix: remove dup set claims record + CLI update
  CHANGELOG.md
  x/claims/client/cli/query.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/spec/06_parameters.md
  x/claims/spec/07_clients.md
Labels: C:CLI, Type: Docs

#608 Correct inflation.proto typo
  proto/evmos/inflation/v1/inflation.proto
Labels: C:Proto

#616 bug(specs): fix explorer mainnet testnet table
  docs/developers/explorers.md
Labels: Type: Docs

#618 docs: Update deposit amount in best_practices.md
  docs/validators/governance/best_practices.md
Labels: Type: Docs

#625 docs/new_public_rpc
  docs/developers/connect.md
Labels: Type: Docs

#626 Eng 290 claims fix durations denominated in nanoseconds
  CHANGELOG.md
  x/claims/client/cli/query.go
Labels: C:CLI

#629 Changed return for cli query clientCt…
  CHANGELOG.md
  x/epochs/client/cli/query.go
Labels: C:CLI
