Repository evmos/evmos, pull requests merged in 2022-03, with the labels that each got.

#312 spec(bug): fix module table of content links (ENG-526)
  x/claims/spec/README.md
  x/erc20/spec/README.md
  x/incentives/spec/README.md
  x/inflation/spec/README.md
Labels: Type: Docs

#313 docs: update explorers urls
  docs/tools/explorers.md
Labels: Type: Docs

#308 docs: release v1 changelog
  CHANGELOG.md
  client/docs/statik/statik.go
  go.mod
  go.sum
  ibctesting/README.md
Labels: C:CLI

#314 docs: update guides/validator_setup
  docs/guides/validators/setup.md
Labels: Type: Docs

#320 docs: guides/metamask
  docs/.vuepress/config.js
  docs/guides/img/metamask_network_settings.png
  docs/guides/keys-wallets/metamask.md
Labels: Type: Docs

#329 docs(genesis): updated genesis.json instructions
  docs/mainnet/join.md
Labels: Type: Docs

#331 specs(explorer) update mintscan
  docs/.vuepress/config.js
  docs/tools/explorers.md
Labels: Type: Docs

#334 docs: update links to genesis
  docs/mainnet/join.md
Labels: Type: Docs

#336 fix: return nil on erc20 evm hook
  CHANGELOG.md
  x/erc20/keeper/evm_hooks.go
Labels: bug

#344 docs: ledger guide
  .golangci.yml
  app/ante/ante.go
  docs/guides/README.md
  docs/guides/img/addresses.png
  docs/guides/img/eipmessage.png
  docs/guides/img/hw_01.jpg
  docs/guides/img/hw_02.jpg
  docs/guides/img/hw_03.jpg
  docs/guides/img/hw_04.jpg
  docs/guides/img/mm1.png
  docs/guides/img/mm2.png
  docs/guides/img/mm3.png
  docs/guides/img/mm4.png
  docs/guides/img/mm5.png
  docs/guides/img/msgsend.png
  docs/guides/img/txsent.png
  docs/guides/keys-wallets/ledger.md
  x/erc20/keeper/evm_hooks.go
Labels: Type: CI, Type: Docs

#356 docs: use `go install` for cosmovisor
  docs/guides/upgrades/upgrade_node.md
Labels: Type: Docs

#357 docs: add `v1.0.0` to cosmovisor install
  docs/guides/upgrades/upgrade_node.md
Labels: Type: Docs

#358 docs: cosmovisor v2 upgrade preparation docs
  docs/guides/upgrades/upgrade_node.md
Labels: Type: Docs

#368 fix: delete token pair
  CHANGELOG.md
  x/erc20/keeper/proposals.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
Labels: bug

#369 ENG 533 add Enable Inflation param
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/query.proto
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  x/incentives/keeper/integration_test.go
  x/inflation/client/cli/query.go
  x/inflation/genesis.go
  x/inflation/keeper/epoch_info.go
  x/inflation/keeper/epoch_info_test.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
  x/inflation/types/genesis.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/genesis_test.go
  x/inflation/types/keys.go
  x/inflation/types/params.go
  x/inflation/types/params_test.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
Labels: C:Proto, Type: Build, C:CLI, Type: Docs

#371 docs: tmkms,ledger,horcrux
  docs/guides/img/kms_tm_ledger_01.jpg
  docs/guides/img/kms_tm_ledger_02.jpg
  docs/guides/keys-wallets/ledger.md
  docs/guides/kms/kms.md
  docs/guides/kms/kms_ledger.md
  docs/guides/validators/security.md
Labels: Type: Docs

#372 docs: bump chain identifier
  docs/.vuepress/config.js
  docs/basics/chain_id.md
  docs/mainnet/join.md
Labels: Type: Docs

#383 feat(inflation): add inflation and total supply endpoints
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/query.proto
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/keeper_test.go
  x/inflation/spec/06_clients.md
  x/inflation/types/interfaces.go
  x/inflation/types/params.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#389 ci: markdownlint
  .github/workflows/build-docs.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .markdownlint.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/api/json-rpc/endpoints.md
  docs/clients/apis.md
  docs/clients/evmosjs.md
  docs/guides/keys-wallets/keyring.md
  docs/guides/upgrades/upgrade_node.md
  docs/guides/validators/faq.md
  docs/guides/validators/setup.md
  docs/quickstart/run_node.md
  x/README.md
  x/epochs/spec/03_events.md
  x/epochs/spec/04_keeper.md
  x/epochs/spec/05_hooks.md
  x/epochs/spec/06_queries.md
  x/epochs/spec/07_future_improvements.md
  x/erc20/spec/02_state.md
  x/incentives/spec/01_concepts.md
  x/incentives/spec/02_state.md
  x/inflation/spec/04_events.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
  x/inflation/spec/README.md
Labels: Type: CI, Type: Docs

#382 tests: erc20 init/export genesis
  .gitignore
  x/claims/genesis_test.go
  x/erc20/genesis.go
  x/erc20/genesis_test.go
Labels: automerge

#391 spec(vesting): Add vesting specification from notion
  .github/workflows/lint.yml
  x/README.md
  x/vesting/spec/01_concepts.md
  x/vesting/spec/02_state.md
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/05_antehandlers.md
  x/vesting/spec/06_events.md
  x/vesting/spec/07_clients.md
  x/vesting/spec/README.md
Labels: Type: CI, Type: Docs

#394 spec(claims): Add ibc action to concepts
  x/claims/spec/01_concepts.md
  x/claims/spec/README.md
Labels: Type: Docs

#395 ci: Slither action for contracts
  .github/workflows/codeql-analysis.yml
  .github/workflows/semgrep.yml
  .github/workflows/slither.yml
  contracts/ERC20Burnable.sol
  contracts/ERC20DirectBalanceManipulation.sol
Labels: Type: CI

#409 feat: withdraw module types and proto
  .semgrepignore
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/withdraw/v1/genesis.proto
  proto/evmos/withdraw/v1/query.proto
  types/utils.go
  types/utils_test.go
  x/withdraw/types/errors.go
  x/withdraw/types/genesis.go
  x/withdraw/types/genesis.pb.go
  x/withdraw/types/genesis_test.go
  x/withdraw/types/interfaces.go
  x/withdraw/types/keys.go
  x/withdraw/types/params.go
  x/withdraw/types/params_test.go
  x/withdraw/types/query.pb.go
  x/withdraw/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs, C:Types

#412 imp: boilerplate for IBC modules
  CHANGELOG.md
  codecov.yml
  go.mod
  ibc/module.go
  ibc/module_test.go
  ibc/testing/README.md
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/testing/coordinator.go
  ibc/utils.go
  ibc/utils_test.go
  types/utils.go
  types/utils_test.go
  x/claims/ibc_module.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
Labels: C:Types

#411 audit(claims): state machine audit
  init.sh
  x/claims/ibc_module.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/claims_records.go
  x/claims/keeper/grpc_query.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/hooks.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/spec/02_state.md
  x/claims/spec/03_state_transitions.md
  x/claims/spec/04_hooks.md
  x/claims/spec/05_events.md
  x/claims/spec/06_parameters.md
  x/claims/spec/07_clients.md
  x/claims/types/claims_record.go
  x/claims/types/errors.go
  x/claims/types/events.go
  x/claims/types/genesis.go
  x/claims/types/params.go
  x/claims/types/params_test.go
Labels: Type: Docs

#418 Update join.md
  docs/testnet/join.md
Labels: Type: Docs

#419 rename withdrawal -> recovery middleware
  app/app.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  x/recovery/client/cli/query.go
  x/recovery/genesis.go
  x/recovery/genesis_test.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/grpc_query.go
  x/recovery/keeper/grpc_query_test.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper_test.go
  x/recovery/keeper/params.go
  x/recovery/keeper/params_test.go
  x/recovery/keeper/utils_test.go
  x/recovery/module.go
  x/recovery/types/errors.go
  x/recovery/types/events.go
  x/recovery/types/genesis.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/genesis_test.go
  x/recovery/types/interfaces.go
  x/recovery/types/keys.go
  x/recovery/types/params.go
  x/recovery/types/params_test.go
  x/recovery/types/query.pb.go
  x/recovery/types/query.pb.gw.go
  x/withdraw/genesis_test.go
  x/withdraw/keeper/params_test.go
  x/withdraw/types/events.go
Labels: C:Proto, C:CLI, Type: Docs

#425 Update join.md
  docs/testnet/join.md
Labels: Type: Docs

#429 ci: add CodeQLquery from CryptoCom
  .github/workflows/codeql-analysis.yml
  x/epochs/module.go
Labels: Type: CI

#430 imp: only delete records at the end of the claims period
  CHANGELOG.md
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/spec/04_hooks.md
Labels: Type: Docs

#431 docs: governance
  docs/.vuepress/config.js
  docs/governance/best_practices.md
  docs/governance/community_pool.md
  docs/governance/overview.md
  docs/governance/param_change.md
  docs/governance/process.md
  docs/governance/submitting.md
  docs/pre.sh
Labels: Type: Docs

#434 fix docs build
  docs/uml/puml/begin_redelegation_sequence.puml
  docs/uml/puml/delegation_sequence.puml
  docs/uml/puml/unbond_sequence.puml
  docs/uml/svg/begin_redelegation_sequence.svg
  docs/uml/svg/delegation_sequence.svg
  docs/uml/svg/unbond_sequence.svg
Labels: Type: Docs

#440 imp: remove unnecesary unpack public key
  types/utils_test.go
  x/recovery/keeper/ibc_callbacks.go
Labels: C:Types

#442 docs: update testnet docs
  docs/.vuepress/config.js
  docs/mainnet/join.md
  docs/testnet/join.md
Labels: Type: Docs

#444 docs: add warnings for `keyring-backend test`
  docs/guides/keys-wallets/keyring.md
  docs/guides/keys-wallets/metamask.md
  docs/guides/localnet/single_node.md
  docs/guides/localnet/testnet_cmd.md
  docs/guides/validators/faq.md
  docs/guides/validators/setup.md
  docs/mainnet/join.md
  docs/quickstart/binary.md
Labels: Type: Docs

#439 audit(recovery): api and state machine
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.sum
  ibc/utils.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper_test.go
  x/recovery/keeper/params.go
  x/recovery/types/genesis.go
Labels: C:CLI
