Repository evmos/evmos, pull requests merged in 2022-06, with the labels that each got.

#639 Add another notional RPC to the docs
  docs/developers/connect.md
Labels: Type: Docs

#642 impr(erc20): remove enforcing ibc and channel names during `RegisterCoin`
  CHANGELOG.md
  x/erc20/client/cli/tx.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
Labels: C:CLI

#643 [ENG-404] Remove incorrect vesting command
  CHANGELOG.md
  x/vesting/client/cli/tx.go
Labels: C:CLI

#637 analytics(app): add telemetry to Evmos modules
  CHANGELOG.md
  app/app.go
  docs/.vuepress/config.js
  docs/protocol/telemetry.md
  go.mod
  go.sum
  x/erc20/keeper/msg_server.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/epoch_hooks.go
  x/incentives/keeper/evm_hooks.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/recovery/keeper/ibc_callbacks.go
Labels: Type: Docs

#645 specs(telemetry): add ethermint endpoints
  docs/protocol/telemetry.md
Labels: Type: Docs

#638 docs: add snapshots and archives
  docs/.vuepress/config.js
  docs/validators/faq.md
  docs/validators/snapshots_archives.md
Labels: Type: Docs

#655 Change update method in Dockerfile
  Dockerfile
Labels: Type: Build

#657 add IBC channels list into docs
  docs/.vuepress/config.js
  docs/protocol/ibc.md
Labels: Type: Docs

#664 Update mainnet.md
  docs/validators/mainnet.md
Labels: Type: Docs

#665 docs: update swagger with latest version
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Labels: C:CLI

#666 vesting: rm support for SDK vesting account types
  CHANGELOG.md
  cmd/evmosd/genaccounts.go
  x/vesting/client/cli/tx.go
  x/vesting/client/cli/utils.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/codec.go
  x/vesting/types/msg.go
Labels: C:CLI

#669 tests(vesting): allow locked and vested tokens to be staked
  go.mod
  go.sum
  x/vesting/keeper/integration_test.go
  x/vesting/spec/01_concepts.md
  x/vesting/spec/05_antehandlers.md
Labels: Type: Docs

#676 fix(app): fix v5 upgrade handler globals
  .github/dependabot.yml
  .mergify.yml
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Labels: Type: CI, backport/5.0.x

#678 fix(app): fix v5 upgrade handler globals (#676)
  .github/dependabot.yml
  .mergify.yml
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Labels: Type: CI

#679 impr(makefile): update protoc-gen installation
  Makefile
Labels: Type: Build

#677 imp(erc20): add amino registration to convert Coin/ERC20 msgs for ERC712 compatibility
  .mergify.yml
  CHANGELOG.md
  x/erc20/module.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
Labels: Type: CI, backport/5.0.x

#682 release: update consensus params
  CHANGELOG.md
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Labels: backport/5.0.x

#684 deps: bump ibc-go to v3.1.0
  CHANGELOG.md
  app/app.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  go.mod
  go.sum
Labels: dependencies, backport/5.0.x

#687 upgrade(v5): add upgrade heights
  app/upgrades/v5/constants.go
Labels: backport/5.0.x

#688 Update ibc.md
  docs/protocol/ibc.md
Labels: Type: Docs

#689 docs: update release and general docs
  docs/.vuepress/config.js
  docs/README.md
  docs/developers/connect.md
  docs/protocol/ibc.md
  docs/validators/mainnet.md
  docs/validators/testnet.md
  docs/validators/upgrades/upgrades.md
Labels: Type: Docs

#685 audit(fees): specification audit
  CHANGELOG.md
  x/README.md
  x/fees/spec/01_concepts.md
  x/fees/spec/02_state.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/04_transactions.md
  x/fees/spec/05_hooks.md
  x/fees/spec/08_clients.md
  x/fees/spec/README.md
Labels: Type: Docs

#691 audit(fees): fees module api audit
  CHANGELOG.md
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.gw.go
  x/fees/client/cli/query.go
  x/fees/client/cli/tx.go
  x/fees/genesis.go
  x/fees/handler.go
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/msg_server_test.go
  x/fees/spec/02_state.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/04_transactions.md
  x/fees/spec/07_parameters.md
  x/fees/spec/08_clients.md
  x/fees/types/codec.go
  x/fees/types/codec_test.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fee_test.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/genesis_test.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#696 imp(cmd): update default Tendermint config
  CHANGELOG.md
  cmd/evmosd/root.go
Labels: backport/5.0.x

#698 updated governance docs
  docs/validators/governance/best_practices.md
  docs/validators/governance/community_pool.md
  docs/validators/governance/overview.md
  docs/validators/governance/param_change.md
  docs/validators/governance/process.md
  docs/validators/governance/submitting.md
  docs/validators/snapshots_archives.md
Labels: Type: Docs

#720 imp(ci): use goreleaser Github Action
  .github/workflows/goreleaser.yml
  .github/workflows/test.yml
  Makefile
  README.md
Labels: Type: Build, Type: CI

#724 [ENG-508] semgrep action fix
  .github/workflows/semgrep.yml
Labels: Type: CI

#731 danburck/release v601
  CHANGELOG.md
  app/upgrades/v6/constants.go
Labels: C:Proto, Type: CI, C:CLI, Type: Docs

#737 change testnet genesis download path in docs
  docs/validators/testnet.md
Labels: Type: Docs
