Repository evmos/evmos, pull requests merged in 2022-07, with the labels that each got.

#735 docs: state-sync
  docs/validators/setup/statesync.md
Labels: Type: Docs

#741 imp(ci): add super linter
  .github/workflows/super-linter.yml
Labels: Type: CI

#726 docs: erc-20 gov proposals, eth txs
  docs/developers/clients.md
  docs/validators/governance/best_practices.md
  docs/validators/governance/param_change.md
  x/erc20/spec/README.md
Labels: Type: Docs

#742 docs: relayer guide, add eth tx types
  docs/users/basics/transactions.md
  docs/validators/run_relayer.md
Labels: Type: Docs

#749 [ENG-567] fix(ci): semgrep action
  .github/workflows/semgrep.yml
Labels: Type: CI

#751 audit(feesplit): completeness audit
  x/README.md
  x/feesplit/client/cli/tx.go
  x/feesplit/genesis_test.go
  x/feesplit/spec/01_concepts.md
Labels: C:CLI, Type: Docs

#745 docs: wallet integration, epochs updates
  docs/developers/libraries/evmosjs.md
  docs/developers/wallet-integration.md
  x/epochs/spec/01_concepts.md
  x/epochs/spec/02_state.md
  x/epochs/spec/03_events.md
  x/epochs/spec/04_keeper.md
  x/epochs/spec/05_hooks.md
  x/epochs/spec/06_queries.md
  x/epochs/spec/07_future_improvements.md
  x/epochs/spec/README.md
Labels: Type: Docs

#753 imp(docs): improve Evmos documentation
  docs/.vuepress/config.js
  docs/about/intro/overview.md
  docs/developers/libraries/evmosjs.md
  docs/developers/overview.md
  docs/developers/wallet_integration.md
  docs/users/governance/best_practices.md
  docs/users/governance/community_pool.md
  docs/users/governance/overview.md
  docs/users/governance/param_change.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
  docs/validators/governance/param_change.md
  docs/validators/setup/configuration.md
Labels: Type: Docs

#784 Fixing docs
  docs/.vuepress/components/Home.vue
  docs/package-lock.json
  docs/package.json
Labels: Type: Docs

#783 ci(goreleaser): revert to make command
  .github/workflows/goreleaser.yml
  Makefile
Labels: Type: Build, Type: CI

#779 docs: keplr import/create, key info
  docs/users/keys/keyring.md
  docs/users/wallets/keplr.md
  docs/users/wallets/metamask.md
Labels: Type: Docs

#763 docs(feesplit): add a guide for developers to add their contract to the dApp store
  docs/.vuepress/config.js
  docs/developers/guides/erc_20_registration.md
  docs/developers/guides/smart_contract_registration.md
  docs/developers/testnet/faucet.md
  x/feesplit/spec/01_concepts.md
Labels: Type: Docs

#788 docs(upgtade): add manual patch release upgrade v6.0.2
  docs/validators/upgrades/upgrades.md
  x/feesplit/spec/README.md
Labels: Type: Docs

#789 docs: pull traces, query balances
  docs/developers/guides/query_balances.md
  docs/developers/guides/smart_contract_registration.md
  docs/developers/guides/trace_transactions.md
  docs/developers/guides/wallet_integration.md
  docs/developers/overview.md
  docs/developers/testnet/faucet.md
  docs/users/basics/transactions.md
  docs/users/governance/submitting.md
  docs/validators/quickstart/run_node.md
  docs/validators/testnet.md
Labels: Type: Docs

#725 [ENG-447] protobuf workspaces migration
  .github/workflows/proto.yml
  CHANGELOG.md
  Makefile
  buf.gen.proto.yaml
  buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  third_party/proto/google/protobuf/any.proto
Labels: C:Proto, Type: Build, Type: CI

#793 docs(validators): add note that displayed version might differ when an active Software Upgrade proposal exists on chain
  docs/validators/mainnet.md
Labels: Type: Docs

#801 add state sync guide
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
Labels: Type: Docs

#803 deps: bump ethermint to v0.17.2
  .mergify.yml
  CHANGELOG.md
  go.mod
  go.sum
Labels: Type: CI, backport/6.0.x

#807 docs(json-rpc server): make more reader friendly
  docs/developers/json-rpc/server.md
Labels: Type: Docs
