Repository evmos/evmos, pull requests merged in 2022-04, with the labels that each got.

#458 deps: bump ethermint to v0.13.0
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  third_party/proto/cosmos/authz/v1beta1/authz.proto
  third_party/proto/cosmos/authz/v1beta1/genesis.proto
  third_party/proto/cosmos/authz/v1beta1/query.proto
  third_party/proto/cosmos/bank/v1beta1/query.proto
  third_party/proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  third_party/proto/cosmos/base/store/v1beta1/snapshot.proto
  third_party/proto/cosmos/tx/signing/v1beta1/signing.proto
  third_party/proto/ethermint/feemarket/v1/query.proto
  x/claims/keeper/hooks.go
  x/erc20/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
Labels: C:Proto, C:CLI

#465 docs: update testnet
  docs/.vuepress/config.js
  docs/basics/chain_id.md
  docs/governance/submitting.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/join.md
Labels: Type: Docs

#467 docs: x/recovery module spec
  x/recovery/spec/01_concepts.md
  x/recovery/spec/02_state.md
  x/recovery/spec/03_hooks.md
  x/recovery/spec/04_events.md
  x/recovery/spec/05_parameters.md
  x/recovery/spec/06_clients.md
  x/recovery/spec/README.md
Labels: Type: Docs

#471 [ENG-128] Fee distribution module - add cli commands for queries and transactions
  x/fees/client/cli/query.go
  x/fees/client/cli/tx.go
Labels: C:CLI

#477 docs: use evmos swagger instead of ethermint
  app/app.go
  client/docs/statik/init.go
Labels: Type: Docs

#481 [ENG-127] Fee distribution module spec
  x/fees/spec/01_concepts.md
  x/fees/spec/02_state.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/04_transactions.md
  x/fees/spec/05_hooks.md
  x/fees/spec/06_events.md
  x/fees/spec/07_parameters.md
  x/fees/spec/08_clients.md
  x/fees/spec/09_improvements.md
  x/fees/spec/README.md
Labels: Type: Docs

#485 docs: add security recommendations to mainnet join.md
  docs/guides/validators/checklist.md
  docs/mainnet/join.md
Labels: Type: Docs

#486 imp: refactor vesting types and tests
  CHANGELOG.md
  client/docs/statik/statik.go
  go.mod
  go.sum
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/clawback_vesting_account_test.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/schedule.go
  x/vesting/types/schedule_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Proto, C:CLI

#489 ci: update mergify
  .mergify.yml
Labels: Type: CI

#502 fix: remove `SpendableCoins` from vesting
  CHANGELOG.md
  x/vesting/keeper/msg_server.go
Labels: backport/3.0.x

#501 release: v3.0.0 cherry-picks
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  CHANGELOG.md
  app/app.go
  client/docs/statik/init.go
  client/docs/statik/statik.go
  docs/.vuepress/config.js
  docs/api/proto-docs.md
  docs/basics/chain_id.md
  docs/governance/submitting.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/checklist.md
  docs/guides/validators/faq.md
  docs/mainnet/join.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/join.md
  go.mod
  go.sum
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  scripts/protocgen.sh
  x/erc20/keeper/evm.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/incentives/keeper/keeper_test.go
  x/recovery/spec/01_concepts.md
  x/recovery/spec/02_hooks.md
  x/recovery/spec/03_events.md
  x/recovery/spec/04_parameters.md
  x/recovery/spec/05_clients.md
  x/recovery/spec/README.md
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/staking_helpers.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/clawback_vesting_account_test.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/schedule.go
  x/vesting/types/schedule_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/utils.go
  x/vesting/types/utils_test.go
  x/vesting/types/vesting.pb.go
Labels: C:Proto, Type: Build, Type: CI, C:CLI, Type: Docs

#478 deps: bump cosmos-sdk to v0.45.3 and ethermint to v0.14.0
  CHANGELOG.md
  app/forks.go
  go.mod
  go.sum
Labels: backport/3.0.x

#507 [ENG-188] Claims grpc
  CHANGELOG.md
  x/claims/keeper/claim.go
  x/claims/keeper/grpc_query.go
  x/claims/keeper/grpc_query_test.go
Labels: backport/3.0.x

#512 Revert "imp: only delete records at the end of the claims period"
  CHANGELOG.md
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/spec/04_hooks.md
Labels: Type: Docs, backport/3.0.x

#514 impr(claims): move claimsRecords deletion out of iteration
  x/claims/genesis_test.go
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/invariants_test.go
Labels: backport/3.0.x

#516 impr(claims): Retain claims records when all actions have been completed
  CHANGELOG.md
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/spec/04_hooks.md
Labels: Type: Docs, backport/3.0.x

#505 fix: IBC attestation ordering
  CHANGELOG.md
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/keeper_test.go
Labels: backport/3.0.x

#521 docs: add table for connecting to Evmos testnet / mainnet
  docs/.vuepress/config.js
  docs/api/README.md
  docs/api/connect.md
Labels: Type: Docs

#522 docs: evmosjs
  docs/.vuepress/config.js
  docs/api/apis.md
  docs/clients/evmosjs.md
Labels: Type: Docs

#523 fix: update store loader
  CHANGELOG.md
  app/app.go
  client/docs/statik/statik.go
  go.mod
  go.sum
Labels: bug, C:CLI, backport/3.0.x

#529 docs: upgrades
  docs/.vuepress/config.js
  docs/protocol/upgrades/migrations.md
  docs/validators/mainnet.md
  docs/validators/overview.md
  docs/validators/quickstart/run_node.md
  docs/validators/setup/configuration.md
  docs/validators/setup/disk_optimization.md
  docs/validators/setup/run_validator.md
  docs/validators/testnet.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Labels: Type: Docs

#531 docs: update unsafe reset cmd
  docs/validators/quickstart/run_node.md
  docs/validators/testnet.md
  docs/validators/upgrades/manual.md
Labels: Type: Docs

#535 docs: update dApp developer docs
  .github/workflows/codeql-analysis.yml
  docs/.vuepress/config.js
  docs/developers/apis.md
  docs/developers/clients.md
  docs/developers/json-rpc/events.md
  docs/developers/json-rpc/namespaces.md
Labels: Type: CI, Type: Docs

#534 update keplr doc
  docs/developers/faucet.md
  docs/users/wallets/keplr.md
  docs/users/wallets/ledger.md
Labels: Type: Docs

#462 deps: buf protoc was moved to buf alpha protoc
  scripts/protocgen.sh
Labels: Type: Build
