Repository evmos/evmos, pull requests merged in 2022-02, with the labels that each got.

#253 use the raw value for json
  Makefile
  tmp/.package-lock.json
  tmp/compiled.json
  tmp/package-lock.json
  tmp/tmp.json
  x/erc20/types/contracts/compiled_contracts/ERC20MinterBurnerDecimals.json
Labels: Type: Build

#252 feat(inflation): update `bondingIncentive` automatically
  app/app.go
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/inflation.proto
  x/inflation/genesis.go
  x/inflation/keeper/epoch_mint_provisions.go
  x/inflation/keeper/genesis_test.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/keeper.go
  x/inflation/module.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis_test.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/inflation_calculation.go
  x/inflation/types/inflation_calculation_test.go
  x/inflation/types/interfaces.go
  x/inflation/types/keys.go
  x/inflation/types/params.go
  x/inflation/types/params_test.go
Labels: C:Proto, C:CLI, Type: Docs

#263 ENG 470 inflation module spec
  x/README.md
  x/inflation/client/cli/query.go
  x/inflation/spec/01_concepts.md
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/spec/04_events.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
  x/inflation/spec/README.md
  x/inflation/types/keys.go
  x/inflation/types/params.go
Labels: C:CLI, Type: Docs

#264 spec(evmos): fix module list
  x/README.md
  x/epochs/spec/README.md
  x/inflation/spec/README.md
Labels: Type: Docs

#255 spec: claims module
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/claims/v1/query.proto
  x/claims/spec/01_Genesis.md
  x/claims/spec/01_concepts.md
  x/claims/spec/02_state.md
  x/claims/spec/03_state_transitions.md
  x/claims/spec/04_hooks.md
  x/claims/spec/05_events.md
  x/claims/spec/06_parameters.md
  x/claims/spec/07_clients.md
  x/claims/spec/README.md
  x/claims/types/params.go
  x/claims/types/query.pb.go
  x/claims/types/query.pb.gw.go
  x/erc20/spec/06_events.md
  x/incentives/spec/01_concepts.md
  x/incentives/spec/06_events.md
Labels: C:Proto, C:CLI, Type: Docs

#265 ENG 505 epoch unit tests
  app/app.go
  go.sum
  x/epochs/client/cli/cli_test.go
  x/epochs/handler.go
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/hooks.go
  x/epochs/keeper/keeper_test.go
  x/epochs/module.go
  x/epochs/simulation/genesis.go
  x/epochs/types/epoch_info.go
  x/epochs/types/epoch_info_test.go
  x/epochs/types/events.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis_test.go
  x/epochs/types/hooks.go
  x/epochs/types/identifier_test.go
  x/epochs/types/interfaces.go
  x/incentives/types/genesis_test.go
  x/inflation/module.go
Labels: C:CLI

#266 docs: grpc gateway API
  docs/.vuepress/config.js
  docs/README.md
  docs/intro/clients.md
Labels: Type: Docs

#262 claims module ibctesting
  app/test_helpers.go
  cmd/evmosd/testnet.go
  go.mod
  ibctesting/README.md
  ibctesting/app.go
  ibctesting/chain.go
  ibctesting/chain_test.go
  ibctesting/coordinator.go
  ibctesting/endpoint.go
  ibctesting/path.go
  testutil/network/network.go
  testutil/network/util.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/keeper.go
  x/claims/types/params_test.go
  x/epochs/client/cli/cli_test.go
  x/erc20/testing/integration_test.go
Labels: C:CLI

#199 feat: ibc transfer claims middleware
  .gitignore
  Makefile
  app/app.go
  app/test_helpers.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  cmd/evmosd/testnet.go
  go.mod
  go.sum
  ibctesting/README.md
  ibctesting/app.go
  ibctesting/chain.go
  ibctesting/chain_test.go
  ibctesting/coordinator.go
  ibctesting/endpoint.go
  ibctesting/path.go
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  scripts/start.sh
  testutil/network/network.go
  testutil/network/util.go
  x/claims/genesis_test.go
  x/claims/ibc_module.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/grpc_query.go
  x/claims/keeper/hooks.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/keeper.go
  x/claims/spec/01_concepts.md
  x/claims/spec/04_hooks.md
  x/claims/types/params.go
  x/claims/types/params_test.go
  x/epochs/genesis_test.go
  x/erc20/testing/integration_test.go
  x/inflation/types/inflation.pb.go
Labels: C:Proto, Type: Build, C:CLI, Type: Docs

#279 deps: bump IBC v3-rc0
  go.mod
  go.sum
Labels: automerge

#281 impr(vesting): refactor `x/vesting` module
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  x/vesting/client/cli/tx.go
  x/vesting/client/testutil/cli_test.go
  x/vesting/client/testutil/suite.go
  x/vesting/client/testutil/testdata/badjson
  x/vesting/client/testutil/testdata/badperiod.json
  x/vesting/client/testutil/testdata/periods1.json
  x/vesting/handler_test.go
  x/vesting/keeper/clawback.go
  x/vesting/keeper/clawback_test.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/staking_helpers.go
  x/vesting/module.go
  x/vesting/testutil/cli_test.go
  x/vesting/testutil/suite.go
  x/vesting/testutil/testdata/badjson
  x/vesting/testutil/testdata/badperiod.json
  x/vesting/testutil/testdata/periods1.json
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/clawback_vesting_account_test.go
  x/vesting/types/codec.go
  x/vesting/types/common_test.go
  x/vesting/types/genesis_test.go
  x/vesting/types/interfaces.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/msgs.go
  x/vesting/types/msgs_test.go
  x/vesting/types/period_test.go
  x/vesting/types/schedule.go
  x/vesting/types/schedule_test.go
  x/vesting/types/test_common.go
  x/vesting/types/tx.pb.go
  x/vesting/types/utils.go
  x/vesting/types/utils_test.go
  x/vesting/types/vesting.pb.go
  x/vesting/types/vesting_account_test.go
Labels: C:Proto, C:CLI, Type: Docs

#287 vesting: delegation and gov ante handler
  app/ante/handler_options.go
  app/ante/vesting.go
  x/vesting/client/cli/tx.go
  x/vesting/keeper/integration_test.go
Labels: C:CLI

#288 Andrey/doc fixes
  docs/testnet/faucet.md
  docs/testnet/join.md
Labels: Type: Docs

#289 docs: update testnet docs
  docs/.vuepress/config.js
  docs/basics/chain_id.md
  docs/guides/keys-wallets/keplr.md
  docs/guides/keys-wallets/keyring.md
  docs/guides/keys-wallets/metamask.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/validators/overview.md
  docs/guides/validators/setup.md
  docs/quickstart/interact_node.md
  docs/tools/explorers.md
Labels: Type: Docs

#286 feat(vesting): ENG-385 add ante decorators
  CHANGELOG.md
  app/ante/ante.go
  app/ante/doc.go
  app/ante/handler_options.go
  app/ante/vesting.go
  app/app.go
  x/vesting/client/cli/tx.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/errors.go
Labels: C:CLI

#291 feat(vesting): grpc queries locked, unvested, vested
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/evmos/vesting/v1/query.proto
  x/vesting/client/cli/query.go
  x/vesting/client/cli/tx.go
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/grpc_query_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/module.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#297 refactor vesting query
  client/docs/statik/statik.go
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/integration_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/clawback_vesting_account_test.go
Labels: C:CLI

#303 add genaccount flags
  cmd/evmosd/genaccounts.go
  init.sh
  x/vesting/client/cli/tx.go
Labels: C:CLI

#307 (doc): add cd step to join doc
  docs/testnet/join.md
Labels: Type: Docs
