Repository evmos/evmos, pull requests merged in 2022-11, with the labels that each got.

#1027 chore(cli): apply google CLI Syntax for required and optional args
  CHANGELOG.md
  cmd/evmosd/genaccounts.go
  cmd/evmosd/init.go
  cmd/evmosd/migrate.go
  docs/developers/localnet/testnet_cmd.md
  docs/protocol/upgrades/migrations.md
  x/claims/client/cli/query.go
  x/claims/spec/07_clients.md
  x/erc20/client/cli/query.go
  x/erc20/spec/08_clients.md
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
  x/incentives/spec/08_clients.md
  x/revenue/client/cli/query.go
  x/revenue/client/cli/tx.go
  x/vesting/client/cli/query.go
  x/vesting/client/cli/tx.go
  x/vesting/spec/07_clients.md
Labels: C:CLI, Type: Docs

#1032 chore: Create variable number of accounts in init.sh
  cmd/evmosd/cmd_test.go
  docs/developers/guides/incentives_registration.md
  docs/developers/guides/smart_contract_registration.md
  docs/developers/localnet/single_node.md
  docs/users/governance/submitting.md
  docs/users/keys/keyring.md
  docs/users/technical_concepts/accounts.md
  docs/users/wallets/backup.md
  docs/users/wallets/metamask.md
  init.bat
  init.sh
  scripts/integration-test-all.sh
  scripts/start-docker.sh
Labels: Type: Build, Type: Docs

#1039 deps(go): Bump to go 1.19
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/validators/quickstart/installation.md
  docs/validators/upgrades/manual.md
  go.mod
  networks/local/evmos/Dockerfile
Labels: Type: Build, Type: CI, Type: Docs

#1042 chore: run gofumpt
  app/upgrades/v9_1/upgrades_test.go
  x/erc20/client/cli/utils_test.go
  x/erc20/keeper/integration_test.go
Labels: C:CLI

#1051 fix: Minor adjustments/fixes to the init script
  docs/developers/localnet/single_node.md
  docs/validators/quickstart/run_node.md
  local_node.sh
Labels: Type: Docs

#1053 docs(upgrades): update cosmovisor command
  docs/validators/upgrades/automated.md
Labels: Type: Docs

#1046 (tests) Add integration tests for Coin Conversion in IBC operations
  CHANGELOG.md
  app/app.go
  ibc/testing/app.go
  ibc/testing/chain.go
  types/utils.go
  types/utils_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/proposals_test.go
Labels: C:Types

#1080 refactor (errors) refactor errors import to use cosmossdk.io pkg
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/vesting.go
  app/sigverify.go
  ibc/utils.go
  testutil/integration.go
  types/errors.go
  types/utils.go
  x/claims/handler.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/types/errors.go
  x/claims/types/params.go
  x/erc20/handler.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/errors.go
  x/erc20/types/msg.go
  x/erc20/types/proposal.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/proposals.go
  x/incentives/proposal_handler.go
  x/incentives/types/errors.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/types/errors.go
  x/revenue/handler.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/errors.go
  x/revenue/types/msg.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/errors.go
  x/vesting/types/msg.go
Labels: C:Types

#1083 fix(proto): fix package version
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Labels: C:Proto

#1081 feat(ibc): utils for erc20 middleware
  CHANGELOG.md
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/utils.go
  ibc/utils_test.go
  types/utils.go
  types/utils_test.go
Labels: C:Types

#1090 docs: Add audits page
  CHANGELOG.md
  docs/about/intro/audits.md
Labels: Type: Docs

#1087 feature (vesting) add functionality to update vesting funder in ClawbackVestingAccount
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/evmos/vesting/v1/tx.proto
  x/vesting/client/cli/tx.go
  x/vesting/handler.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/06_events.md
  x/vesting/spec/07_clients.md
  x/vesting/types/codec.go
  x/vesting/types/events.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
Labels: C:Proto, C:CLI, Type: Docs

#1091 docs: add info about use of the home flag for the local_node.sh script to docs
  docs/developers/localnet/single_node.md
Labels: Type: Docs

#1093 chore: add protolint yaml file
  .github/workflows/super-linter.yml
  .protolint.yml
Labels: Type: CI

#1086 feat(erc20): OnRecv automatic conversion
  app/app.go
  ibc/utils_test.go
  types/tests/test_utils.go
  types/utils.go
  types/utils_test.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/interfaces.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/revenue/keeper/keeper_test.go
Labels: C:Types

#1099 fix: Fix tabs in documentation
  docs/.vuepress/components/CodeGroup.vue
  docs/.vuepress/components/CodeGroupItem.vue
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/json-rpc/endpoints.md
  docs/developers/tools/hardhat.md
  docs/package.json
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/chain_id.md
  docs/users/wallets/metamask.md
  docs/validators/snapshots_archives.md
  docs/validators/upgrades/upgrades.md
Labels: Type: Docs

#1028 feat(tests): e2e tests for chain upgrades
  CHANGELOG.md
  Makefile
  client/docs/statik/statik.go
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
Labels: Type: Build, C:CLI, Type: Tests

#1121 bug(MAKEFILE): fix `evmosd version` cmd to show either tag or last commit
  CHANGELOG.md
  Makefile
Labels: Type: Build
