Repository evmos/evmos, pull requests merged in 2022-08, with the labels that each got.

#820 chore(app): set up v7 fork upgrade height
  app/forks.go
  app/upgrades/v7/constants.go
Labels: backport/6.0.x

#845 bump ethermint version
  go.mod
  go.sum
  testutil/network/util.go
  x/claims/keeper/integration_test.go
  x/erc20/client/cli/utils.go
  x/feesplit/keeper/integration_test.go
  x/vesting/client/cli/utils.go
Labels: C:CLI

#852 docs(telemetry): add feesplit endpoint
  docs/protocol/telemetry.md
Labels: Type: Docs
