Repository evmos/evmos, pull requests merged in 2023-04, with the labels that each got.

#1534 chore (proto): run make proto-all
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/claims/types/query.pb.gw.go
  x/claims/types/tx.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
  x/feemarket/types/tx.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
  x/incentives/types/tx.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
  x/inflation/types/tx.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/recovery/types/query.pb.gw.go
  x/recovery/types/tx.pb.go
  x/revenue/v1/types/events.pb.go
  x/revenue/v1/types/genesis.pb.go
  x/revenue/v1/types/query.pb.go
  x/revenue/v1/types/revenue.pb.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Types

#1535 feat: add EVM extensions support
  CHANGELOG.md
  LICENSE
  LICENSE_FAQ.md
  README.md
  app/app.go
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  testutil/staking-rewards.go
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb_test.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
Labels: C:Proto

#1547 fix (ci): fix bsr push action
  .github/workflows/bsr-push.yml
Labels: Type: CI
