Repository evmos/evmos, pull requests merged in 2023-01, with the labels that each got.

#1163 test(ledger): integration cli/keyring tests
  go.mod
  go.sum
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/AccountRetriever.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/registry.go
  tests/integration/ledger/mocks/tendermint.go
Labels: Type: Tests

#1193 fix(inflation): daily epoch mint provision
  CHANGELOG.md
  app/app.go
  x/inflation/genesis.go
  x/inflation/keeper/epoch_mint_provisions.go
  x/inflation/keeper/epoch_mint_provisions_test.go
  x/inflation/keeper/genesis_test.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/types/keys.go
Labels: Type: Docs

#1211 chore: run gofumpt for all non-generated files
  ibc/utils_test.go
  tests/e2e/e2e_utils_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/types/msg_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/inflation/keeper/params_test.go
  x/inflation/types/msg_test.go
  x/revenue/keeper/msg_server_test.go
Labels: Type: Tests

#1215 fix: changed inflation docs
  x/inflation/spec/01_concepts.md
  x/inflation/spec/03_hooks.md
Labels: Type: Docs

#1249 imp (docs): improve cosmos coin registration guide
  docs/developers/guides/cosmos_coin_registration.md
Labels: Type: Docs

#1253 Proto migration
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  proto/evmos/evm/v1/events.proto
  proto/evmos/evm/v1/evm.proto
  proto/evmos/evm/v1/genesis.proto
  proto/evmos/evm/v1/query.proto
  proto/evmos/evm/v1/tx.proto
  proto/evmos/feemarket/v1/events.proto
  proto/evmos/feemarket/v1/feemarket.proto
  proto/evmos/feemarket/v1/genesis.proto
  proto/evmos/feemarket/v1/query.proto
  proto/evmos/feemarket/v1/tx.proto
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/claims/types/tx.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/errors.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
  x/feemarket/types/tx.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/inflation/types/tx.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/recovery/types/tx.pb.go
  x/revenue/types/events.pb.go
  x/revenue/types/genesis.pb.go
  x/revenue/types/query.pb.go
  x/revenue/types/revenue.pb.go
  x/revenue/types/tx.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Proto

#1252 fix(upgrade): add account number and sequence to migrated IBC escrow accounts
  CHANGELOG.md
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
  docs/protocol/moduleaccounts.md
Labels: Type: Docs

#1231 Add content from gas & fees explainer to docs
  docs/users/basics/gas.md
Labels: Type: Docs

#1256 imp (tests): address shellcheck comments and improve doc strings in upgrade tests
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
Labels: Type: Tests

#1258 imp(inflation): remove dup store calls and improve perf
  CHANGELOG.md
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/migrations/v3/migrate_test.go
Labels: C:CLI

#1270 chore (deps): bump Ethermint to v0.21.0-rc2 (backport #1269)
  CHANGELOG.md
  app/app.go
  cmd/evmosd/root.go
  docs/users/governance/process.md
  go.mod
  go.sum
Labels: Type: Docs

#1277 Ethermint migration linters fixes
  app/ethante/ante_test.go
  app/ethante/eth_test.go
  app/ethante/fee_checker_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/sigs_test.go
  app/ethante/utils_test.go
  app/ethtest_helper.go
  app/upgrades/v11/upgrades_test.go
  client/docs/statik/statik.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/evm/client/cli/tx.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/msg_test.go
  x/evm/types/params_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/incentives/migrations/v2/types/genesis.pb.go
Labels: C:Proto, C:CLI, Type: Docs, Type: Tests

#1255 fix (ci/cd) implement Markdown linter line-length limit
  .github/workflows/lint.yml
  .markdownlint.yml
Labels: Type: CI

#1267 Remove build-docker command from tests
  Makefile
Labels: Type: Build

#1283 feat (tests): enable multiple upgrades for automated upgrade tests
  CHANGELOG.md
  Makefile
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Labels: Type: Build, Type: Tests

#1292 chore: sync main with v11.0.x branch
  CHANGELOG.md
  docs/users/governance/process.md
  x/recovery/types/keys.go
Labels: Type: Docs

#1293 chore(docs) add security section
  SAFU.pdf
  docs/.vuepress/config.js
  docs/about/intro/audits.md
  docs/users/security/audits.md
  docs/users/security/overview.md
  docs/users/security/safu.md
Labels: Type: Docs

#1305 chore: add ethermint protos to own folder
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  proto/buf.lock
  proto/buf.yaml
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/events.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/feemarket/v1/tx.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
  x/evm/types/access_list.go
  x/evm/types/errors.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/key.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/storage.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
  x/feemarket/types/tx.pb.go
  x/revenue/types/events.pb.go
  x/vesting/types/events.pb.go
Labels: C:Proto

#1304 chore (docs): migrate Ethermint specs
  docs/pre.sh
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_transactions.md
  x/evm/spec/05_abci.md
  x/evm/spec/06_hooks.md
  x/evm/spec/07_events.md
  x/evm/spec/08_params.md
  x/evm/spec/09_client.md
  x/evm/spec/README.md
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_begin_block.md
  x/feemarket/spec/04_end_block.md
  x/feemarket/spec/05_keeper.md
  x/feemarket/spec/06_events.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/08_client.md
  x/feemarket/spec/09_antehandlers.md
  x/feemarket/spec/10_future_improvements.md
  x/feemarket/spec/README.md
Labels: Type: Docs
