Repository evmos/evmos, pull requests merged in 2023-02, with the labels that each got.

#1311 fix: edit protocgen script and generate common types
  CHANGELOG.md
  crypto/ethsecp256k1/benchmark_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  crypto/ethsecp256k1/ethsecp256k1_test.go
  crypto/ethsecp256k1/keys.pb.go
  scripts/protocgen.sh
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
Labels: Type: Build, C:Types

#1312 imp (proto): add GH action to push Protobuf files to the Buf Schema Registry
  .github/workflows/bsr-push.yml
Labels: Type: CI

#1316 Ethermint migration of EVM and FeeMarket Cli
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/client/cli/utils.go
  x/evm/client/cli/utils_test.go
  x/feemarket/client/cli/query.go
Labels: C:CLI

#1318 chore (proto): fix swagger generation and update swagger.yaml
  Makefile
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  proto/buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
Labels: C:Proto, Type: Build, C:CLI

#1309 chore(rpc): migrate Ethermint RPCs
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters.go
  rpc/backend/filters_test.go
  rpc/backend/mocks/client.go
  rpc/backend/mocks/evm_query_client.go
  rpc/backend/mocks/feemarket_query_client.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils.go
  rpc/backend/utils_test.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/types/addrlock.go
  rpc/types/block.go
  rpc/types/block_test.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/query_client.go
  rpc/types/types.go
  rpc/types/utils.go
  rpc/websockets.go
  types/errors.go
  types/utils.go
  types/utils_test.go
  version/version.go
Labels: C:Types

#1326 fix(evm): updated to v11.0.0 version of proto params
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Labels: C:Proto

#1325 chore(migration) add ethermint types
  types/account.go
  types/account_test.go
  types/benchmark_test.go
  types/block.go
  types/chain_id.go
  types/chain_id_test.go
  types/codec.go
  types/coin.go
  types/dynamic_fee.go
  types/gasmeter.go
  types/hdpath.go
  types/indexer.go
  types/int.go
  types/protocol.go
  types/validation.go
  types/validation_test.go
Labels: C:Types

#1328 chore(migration) add signer.go on tests pkg
  app/upgrades/v11/upgrades_test.go
  encoding/config_test.go
  ethereum/eip712/preprocess_test.go
  indexer/kv_indexer_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/signer.go
  types/validation_test.go
  x/claims/genesis_test.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/invariants_test.go
  x/claims/keeper/keeper_test.go
  x/claims/types/claims_record_test.go
  x/claims/types/genesis_test.go
  x/erc20/genesis_test.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/types/msg_test.go
  x/erc20/types/proposal_test.go
  x/erc20/types/token_pair_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/logs_test.go
  x/evm/types/msg_test.go
  x/evm/types/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/gas_meters_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/proposals_test.go
  x/incentives/types/fuzz_test.go
  x/incentives/types/gas_meter_test.go
  x/incentives/types/incentive_test.go
  x/incentives/types/keys_test.go
  x/incentives/types/proposal_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/types/genesis_test.go
  x/revenue/types/msg_test.go
  x/revenue/types/revenue_test.go
  x/vesting/keeper/grpc_query_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/clawback_vesting_account_test.go
  x/vesting/types/msg_test.go
Labels: C:Types, Type: Tests

#1330 Add Ethermint EVM keeper
  client/docs/statik/statik.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/evm/keeper/abci.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_benchmark_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/incentives/migrations/v2/types/genesis.pb.go
Labels: C:CLI, Type: Tests

#1334 chore(migration) add client pkg
  client/config.go
  client/config_test.go
  client/debug/debug.go
  client/export.go
  client/import.go
  client/keys.go
  client/keys/add.go
  client/keys/utils.go
  client/testnet.go
Labels: C:CLI

#1340 imp (tests): fix upgrade tests local build + improve behaviour
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/constants.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/params_test.go
Labels: Type: Build, Type: Tests

#1361 chore(docs) update vesting docs
  CHANGELOG.md
  x/vesting/spec/01_concepts.md
  x/vesting/spec/05_antehandlers.md
Labels: Type: Docs

#1348 imp(e2e): Add query execution to e2e test flow
  CHANGELOG.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/queryexec.go
Labels: Type: Tests

#1353 fix: revert errors keys back to original numbering
  types/errors.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/types/errors.go
  x/evm/types/errors.go
Labels: C:Types

#1387 chore: refactor import name
  ethereum/eip712/encoding.go
  ibc/testing/chain.go
  indexer/kv_indexer.go
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/types/block.go
  rpc/types/events.go
  server/indexer_service.go
  server/json_rpc.go
  server/start.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/erc20/client/cli/tx.go
  x/erc20/keeper/grpc_query.go
  x/erc20/types/proposal.go
  x/erc20/types/token_pair.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/types/genesis.go
  x/evm/types/logs.go
  x/feemarket/keeper/keeper_test.go
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/types/gas_meter.go
  x/incentives/types/incentive.go
  x/incentives/types/proposal.go
  x/inflation/keeper/inflation.go
  x/inflation/types/inflation_calculation.go
  x/revenue/client/cli/tx.go
  x/revenue/keeper/grpc_query.go
  x/revenue/types/msg.go
  x/revenue/types/revenue.go
  x/vesting/keeper/keeper_test.go
Labels: C:CLI, Type: Tests

#1268 (fix) allow full EVM access to unlocked tokens
  CHANGELOG.md
  app/ante/evm/vesting.go
  app/ante/evm/vesting_test.go
  app/ante/handler_options.go
  tests/signer.go
  testutil/ante.go
  testutil/integration.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/utils_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/errors.go
Labels: Type: Tests

#1388 chore(tests) use evmos as chain and evmos denom on tests
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  cmd/evmosd/cmd_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/preprocess_test.go
  rpc/backend/backend_suite_test.go
  server/start.go
  tests/e2e/e2e_suite_test.go
  tests/integration/ledger/evmosd_suite_test.go
  x/claims/genesis_test.go
  x/erc20/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/incentives/types/incentive_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/genesis_test.go
Labels: Type: Tests

#1383 fix(deps): fix goreleaser + keyring
  .goreleaser.yml
  Makefile
  go.mod
  go.sum
Labels: Type: Build

#1400 imp(vesting): add convert vesting account msg
  CHANGELOG.md
  proto/evmos/vesting/v1/tx.proto
  x/revenue/types/tx.pb.gw.go
  x/vesting/client/cli/tx.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/07_clients.md
  x/vesting/types/codec.go
  x/vesting/types/events.pb.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
  x/vesting/types/vesting.pb.go
Labels: C:Proto, C:CLI, Type: Docs

#1386 chore(imp) add fees auto flag logic
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fees.go
  server/flags/flags.go
  tests/e2e/Dockerfile.repo
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
Labels: Type: Tests

#1421 chore(tests) update e2e test
  tests/e2e/e2e_test.go
Labels: Type: Tests

#1422 chore(types): fix typo from porting
  types/account.go
Labels: C:Types

#1425 chore(ci): remove MAKEFILE cmds and GA for docs
  .github/workflows/build-docs.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  Makefile
Labels: Type: Build, Type: CI

#1430 chore(tests) update e2e test
  tests/e2e/e2e_test.go
Labels: Type: Tests
