Repository evmos/evmos, pull requests merged in 2023-12, with the labels that each got.

#2111 chore(proto): run make proto-all
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
  x/inflation/v1/types/genesis.pb.go
  x/inflation/v1/types/inflation.pb.go
  x/inflation/v1/types/query.pb.go
  x/inflation/v1/types/tx.pb.go
  x/revenue/v1/types/events.pb.go
  x/revenue/v1/types/genesis.pb.go
  x/revenue/v1/types/query.pb.go
  x/revenue/v1/types/revenue.pb.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/migrations/types/vesting.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Types

#2029 tests(e2e): Osmosis e2e tests
  CHANGELOG.md
  nix/default.nix
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  scripts/compile-cosmwasm-contracts.sh
  tests/nix_tests/configs/osmosis-channel.patch
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/xcs-osmosis-contract.patch
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/cosmwasm/artifacts/checksums.txt
  tests/nix_tests/cosmwasm/artifacts/crosschain_swaps.wasm
  tests/nix_tests/cosmwasm/artifacts/swaprouter.wasm
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/osmosis/evmosOsmosisPool.json
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
Labels: Type: Build, Type: Tests

#2179 chore(tests): update patches
  tests/nix_tests/configs/osmosis-channel.patch
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/osmosis-outpost.patch
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/xcs-osmosis-contract.patch
Labels: Type: Tests

#2185 fix(outposts): Handle cases for input and output denoms without token pair lookup
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  tests/nix_tests/configs/allow-wevmos-register.patch
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/osmosis-outpost.patch
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/stride-outpost.nix
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_stride_outpost.py
  tests/nix_tests/utils.py
  x/evm/keeper/precompiles.go
Labels: Type: Tests
