Repository evmos/evmos, pull requests merged in 2023-10, with the labels that each got.

#1826 Swagger 2.0 to OpenAPI 3.0 converted file
  client/docs/swagger-ui/swagger.json
Labels: C:CLI

#1822 chore(tests): add new e2e test cases
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/utils.py
Labels: Type: Tests

#1827 chore(tests): setup for Osmosis outpost
  nix/bin.nix
  nix/cosmos-chain.nix
  nix/default.nix
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/configs/ibc.jsonnet
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/configs/stride-outpost.jsonnet
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_stride_outpost.py
Labels: Type: Tests

#1821 fix: ci auto commit
  .github/workflows/e2e-test.yml
Labels: Type: CI

#1858 chore(swagger): remove bd from swagger config
  client/docs/swagger-ui/swagger.json
Labels: C:CLI

#1861 chore(build): update rclone version in Dockerfile
  Dockerfile
Labels: Type: Build

#1863 fix(rpc): handle case when node is not persisting abci responses
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  tests/nix_tests/configs/discard-abci-resp.jsonnet
  tests/nix_tests/test_no_abci_resp.py
Labels: Type: Tests

#1842 chore: add support for memIAVL + versionDB
  CHANGELOG.md
  Makefile
  app/app.go
  app/baseapp.go
  app/db.go
  app/db_placeholder.go
  app/keys.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/root.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
  go.mod
  go.sum
  gomod2nix.toml
  local_node.sh
  server/config/config.go
  server/config/toml.go
  server/start.go
Labels: Type: Build

#1877 fix(test): use different port to avoid collision
  tests/nix_tests/test_no_abci_resp.py
Labels: Type: Tests

#1878 chore(proto): generate protobuf files for v15
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/claims/types/tx.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/inflation/types/tx.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/recovery/types/tx.pb.go
  x/revenue/v1/types/events.pb.go
  x/revenue/v1/types/genesis.pb.go
  x/revenue/v1/types/query.pb.go
  x/revenue/v1/types/revenue.pb.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/migrations/types/vesting.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Types

#1884 chore(tests) update init script to set memIAVL disabled as default
  tests/e2e/init-node.sh
Labels: Type: Tests

#1910 chore(ci): add auto formatting
  .github/workflows/auto-format.yml
Labels: Type: CI

#1909 fix(test): seq error on e2e test
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/manager.go
Labels: Type: Tests

#1925 fix(tests): fix local_node script for MacOS and other minor adjustments
  app/ante/integration_test.go
  app/ante/setup_test.go
  app/app.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
  local_node.sh
  precompiles/distribution/integration_test.go
  precompiles/distribution/setup_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/setup_test.go
  precompiles/ics20/utils_test.go
  precompiles/p256/integration_test.go
  precompiles/p256/p256.go
  precompiles/p256/setup_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/setup_test.go
  precompiles/staking/utils_test.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/setup_test.go
  precompiles/vesting/utils_test.go
  rpc/websockets.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/setup_test.go
  x/epochs/keeper/setup_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/setup_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/setup_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/setup_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/keeper/setup_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/setup_test.go
  x/revenue/v1/keeper/integration_test.go
  x/revenue/v1/keeper/setup_test.go
  x/revenue/v1/keeper/utils_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/setup_test.go
  x/vesting/keeper/utils_test.go
Labels: Type: Tests

#1939 chore(tests) add distr mod eth transfer test
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_stride_outpost.py
Labels: Type: Tests

#1972 chore(upgrade): Prepare v15.0.0 upgrade
  CHANGELOG.md
  app/app.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/setup_test.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v15/upgrades_test.go
  app/upgrades/v15/utils_test.go
  app/upgrades/v15rc2/constants.go
  app/upgrades/v15rc2/upgrades.go
  app/upgrades/v15rc2/upgrades_test.go
  go.mod
  go.sum
  gomod2nix.toml
  precompiles/authorization/AuthorizationI.sol
  precompiles/distribution/DistributionI.sol
  precompiles/ics20/ICS20I.sol
  precompiles/staking/StakingI.sol
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/testutil/contracts/DistributionCaller.sol
  precompiles/testutil/contracts/InterchainSender.sol
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/manager.go
Labels: Type: Tests

#1958 chore(tests): stride outpost
  app/app.go
  precompiles/outposts/stride/types.go
  precompiles/outposts/stride/types_test.go
  tests/nix_tests/configs/allow-wevmos-register.patch
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/stride-outpost.jsonnet
  tests/nix_tests/configs/stride-outpost.nix
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/network.py
  tests/nix_tests/test_rollback.py
  tests/nix_tests/test_stride_outpost.py
  tests/nix_tests/utils.py
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Labels: Type: Tests
