Repository evmos/evmos, pull requests merged in 2023-03, with the labels that each got.

#1439 chore(upgrade): add v12 upgrade handler
  app/app.go
  app/upgrades/v12/accounts.go
  app/upgrades/v12/constants.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v12/upgrades_test.go
  local_node.sh
  tests/e2e/e2e_test.go
Labels: Type: Tests

#1460 release: v12.0.0-rc1
  CHANGELOG.md
  app/upgrades/v12/constants.go
  tests/e2e/upgrade/utils_test.go
Labels: Type: Tests

#1461 fix (tests): fix version assertion to be valid for release candidates
  tests/e2e/upgrade/utils_test.go
Labels: Type: Tests

#1469 chore (ci): update CI workflows to use go v1.20
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/upgrade-test-release.yml
  .github/workflows/upgrade-test.yml
  .golangci.yml
  networks/local/evmos/Dockerfile
Labels: Type: CI

#1471 fix (ci): fix used Go version in CI by passing version as a string
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/upgrade-test-release.yml
  .github/workflows/upgrade-test.yml
Labels: Type: CI

#1472 chore (ci): remove python from CodeQL action
  .github/workflows/codeql-analysis.yml
Labels: Type: CI

#1474 chore: release v12.0.0-rc2
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/upgrade-test-release.yml
  .github/workflows/upgrade-test.yml
  .golangci.yml
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fees.go
  app/ante/handler_options.go
  app/ante/handler_options_test.go
  app/upgrades/v12/constants.go
  go.mod
  go.sum
  networks/local/evmos/Dockerfile
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  server/flags/flags.go
  tests/e2e/e2e_test.go
Labels: Type: CI, Type: Tests

#1484 imp(tests): update e2e test
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  Makefile
  tests/e2e/Dockerfile.repo
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/utils.go
Labels: Type: Build, Type: CI, Type: Tests

#1475 fix (ci): fix buf push action version
  .github/workflows/bsr-push.yml
  CHANGELOG.md
Labels: Type: CI

#1494 release: v12.0.0
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  Makefile
  app/upgrades/v12/accounts.go
  app/upgrades/v12/constants.go
  app/upgrades/v12/upgrades_test.go
  tests/e2e/Dockerfile.repo
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/utils.go
Labels: Type: Build, Type: CI, Type: Tests

#1490 chore (ci): let e2e tests run on every PR to a release branch
  .github/workflows/e2e-test-release.yml
Labels: Type: CI
