Repository evmos/evmos, pull requests merged in 2023-09, with the labels that each got.

#1739 chore(swagger): add revenue to swagger
  Makefile
  client/docs/config.json
  client/docs/statik/statik.go
Labels: Type: Build, C:CLI

#1741 chore(swagger): generate Swagger JSON instead of YAML
  client/docs/swagger-ui/swagger.json
  client/docs/swagger-ui/swagger.yaml
  scripts/protoc-swagger-gen.sh
Labels: Type: Build, C:CLI

#1743 add rclone binary
  Dockerfile
Labels: Type: Build

#1773 chore: update dependabot reviewers
  .github/dependabot.yml
Labels: Type: CI

#1768 chore(tests): add stride chain to nix setup
  nix/cosmos-chain.nix
  nix/default.nix
  nix/sources.json
  tests/nix_tests/configs/stride-outpost.jsonnet
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/network.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_outpost.py
  tests/nix_tests/test_precompiles.py
Labels: Type: Tests

#1784 chore(docker): update rclone dep version
  .github/workflows/e2e-test.yml
  Dockerfile
Labels: Type: Build, Type: CI

#1785 chore: edit gh flow to rerun actions when gomod2nix.toml is updated programmatically
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/solidity-test.yml
  .github/workflows/test.yml
Labels: Type: CI

#1786 chore(cli): add cmd to query latest block in db
  CHANGELOG.md
  client/block/block.go
  client/block/store.go
  cmd/evmosd/root.go
  tests/nix_tests/test_cli.py
Labels: C:CLI, Type: Tests

#1765 fix(tests): update expected error pattern in precompiles test
  tests/nix_tests/test_precompiles.py
Labels: Type: Tests

#1753 fix(ante): handle zero fee case on evm transactions
  CHANGELOG.md
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
  tests/nix_tests/configs/zero-fee.jsonnet
  tests/nix_tests/test_zero_fee.py
Labels: Type: Tests

#1813 chore: update docker dep
  Dockerfile
Labels: Type: Build
