Repository evmos/evmos, pull requests merged in 2023-07, with the labels that each got.

#1642 chore(ci): point proto push action to subfolder
  .github/workflows/bsr-push.yml
Labels: Type: CI

#1644 chore(upgrade): prepare v13.0.2
  .github/CODEOWNERS
  .github/workflows/bsr-push.yml
  .github/workflows/proto.yml
  CHANGELOG.md
  app/upgrades/v13/constants.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/node.go
Labels: Type: CI, Type: Tests

#1650 fix(rpc): concurrent map iteration and write
  CHANGELOG.md
  Makefile
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
Labels: Type: Build

#1645 chore(ci): remove outdated if env.GIT_DIFF from e2e release workflow
  .github/workflows/e2e-test-release.yml
Labels: Type: CI

#1671 update curl version
  Dockerfile
Labels: Type: Build

#1669 [Snyk] Security upgrade golang from 1.20.3-bullseye to 1.20.5-bullseye
  tests/e2e/Dockerfile.repo
Labels: Type: Tests
