Repository evmos/evmos, pull requests merged in 2023-06, with the labels that each got.

#1603 Release v13.0.0-rc3
  .github/workflows/lint.yml
  CHANGELOG.md
  LICENSE_FAQ.md
  go.mod
  go.sum
  ibc/module_test.go
  x/erc20/types/erc20.pb.go
  x/vesting/keeper/integration_test.go
  x/vesting/types/msg.go
Labels: Type: CI

#1606 Update Dockerfile
  Dockerfile
Labels: Type: Build

#1618 update Makefile
  Makefile
Labels: Type: Build

#1624 imp(ci): add license checker
  .github/workflows/check-licenses.yml
  Makefile
  scripts/check_licenses.py
  scripts/test_check_licenses.py
Labels: Type: Build, Type: CI

#1627 chore(proto): add licenses to proto files
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/events.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/feemarket/v1/tx.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/claims/v1/tx.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/events.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/incentives/v1/tx.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/inflation/v1/tx.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/recovery/v1/tx.proto
  proto/evmos/revenue/v1/events.proto
  proto/evmos/revenue/v1/genesis.proto
  proto/evmos/revenue/v1/query.proto
  proto/evmos/revenue/v1/revenue.proto
  proto/evmos/revenue/v1/tx.proto
  proto/evmos/vesting/v1/events.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  scripts/check_licenses.py
Labels: C:Proto, Type: Build
