Repository evmos/evmos, pull requests merged in 2023-08, with the labels that each got.

#1678 fix(tests): fix Dockerfile and init script for e2e tests
  CHANGELOG.md
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
Labels: Type: Tests

#1679 fix: re-generate protos and cleanup tests
  app/app.go
  app/upgrades/v14/upgrades.go
  precompiles/vesting/Vesting.sol
  precompiles/vesting/abi.json
  precompiles/vesting/integration_test.go
  precompiles/vesting/testdata/VestingCaller.json
  precompiles/vesting/testdata/VestingCaller.sol
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/utils_test.go
  proto/evmos/vesting/v1/events.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  proto/evmos/vesting/v2/genesis.proto
  proto/evmos/vesting/v2/query.proto
  proto/evmos/vesting/v2/tx.proto
  proto/evmos/vesting/v2/vesting.proto
  scripts/protocgen.sh
  tests/e2e/e2e_suite_test.go
  x/vesting/client/cli/query.go
  x/vesting/client/cli/tx.go
  x/vesting/client/proposal_handler.go
  x/vesting/genesis.go
  x/vesting/genesis_test.go
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/grpc_query_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/migrations.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/params.go
  x/vesting/keeper/params_test.go
  x/vesting/keeper/utils_test.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/module.go
  x/vesting/proposal_handler.go
  x/vesting/types/codec.go
  x/vesting/types/genesis.go
  x/vesting/types/genesis.pb.go
  x/vesting/types/genesis_test.go
  x/vesting/types/interfaces.go
  x/vesting/types/keys.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/params.go
  x/vesting/types/proposal.go
  x/vesting/types/proposal_test.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Labels: C:Proto, Type: Build, C:CLI, Type: Tests

#1676 fix: trace tx/block gas meter to make it consistent with execution
  CHANGELOG.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  x/erc20/types/erc20.pb.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/interfaces.go
  x/evm/types/query.pb.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
Labels: C:Proto

#1691 chore: proto cleanup
  app/app.go
  app/upgrades/v14/upgrades.go
  proto/evmos/vesting/v2/genesis.proto
  proto/evmos/vesting/v2/query.proto
  proto/evmos/vesting/v2/tx.proto
  tests/e2e/e2e_suite_test.go
  x/vesting/client/cli/query.go
  x/vesting/genesis.go
  x/vesting/genesis_test.go
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/migrations.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/params.go
  x/vesting/keeper/params_test.go
  x/vesting/keeper/utils_test.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/module.go
  x/vesting/types/codec.go
  x/vesting/types/genesis.go
  x/vesting/types/genesis.pb.go
  x/vesting/types/genesis_test.go
  x/vesting/types/keys.go
  x/vesting/types/msg.go
  x/vesting/types/params.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
Labels: C:Proto, C:CLI, Type: Tests

#1709 imp(vesting): add clawed back coins to response for clawback method
  CHANGELOG.md
  precompiles/vesting/Vesting.sol
  precompiles/vesting/abi.json
  precompiles/vesting/integration_test.go
  precompiles/vesting/testdata/VestingCaller.json
  precompiles/vesting/testdata/VestingCaller.sol
  precompiles/vesting/tx.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  proto/evmos/vesting/v2/tx.proto
  x/vesting/keeper/gov_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/tx.pb.go
Labels: C:Proto

#1643 tests(upgrade): remove version mapping in E2E tests
  tests/e2e/e2e_test.go
  x/claims/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/revenue/v1/migrations/v2/types/genesis.pb.go
Labels: Type: Tests

#1710 chore: merge recent state of main into release branch ahead of v14.0.0-rc2
  .github/workflows/bsr-push.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  CHANGELOG.md
  Dockerfile
  cmd/evmosd/root.go
  contracts/package-lock.json
  contracts/package.json
  go.mod
  go.sum
  precompiles/authorization/Authorization.sol
  precompiles/authorization/events.go
  precompiles/authorization/types.go
  precompiles/authorization/types_test.go
  precompiles/staking/abi.json
  precompiles/staking/approve.go
  precompiles/staking/events_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/query.go
  precompiles/staking/query_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/types.go
  precompiles/staking/utils_test.go
  rpc/backend/backend_suite_test.go
  server/config/config.go
  server/config/config_test.go
  tests/e2e/e2e_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/vesting/keeper/integration_test.go
Labels: Type: Build, Type: CI, Type: Tests

#1713 fix (proto): add missing proto file - vesting v1
  CHANGELOG.md
  go.mod
  precompiles/ics20/events.go
  proto/evmos/vesting/v1/vesting.proto
  rpc/backend/blocks_test.go
  rpc/types/events_test.go
  x/vesting/migrations/types/vesting.pb.go
Labels: C:Proto

#1695 chore(tests): add solidity test setup
  .github/workflows/solidity-test.yml
  Makefile
  precompiles/authorization/Authorization.sol
  precompiles/common/Types.sol
  precompiles/distribution/Distribution.sol
  precompiles/staking/Staking.sol
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/testutil/contracts/InterchainSender.sol
  scripts/run-solidity-tests.sh
  tests/e2e/init-node.sh
  tests/solidity/.gitattributes
  tests/solidity/.gitignore
  tests/solidity/package.json
  tests/solidity/suites/basic/contracts/Counter.sol
  tests/solidity/suites/basic/contracts/EventTest.sol
  tests/solidity/suites/basic/contracts/Storage.sol
  tests/solidity/suites/basic/package.json
  tests/solidity/suites/basic/test/.gitkeep
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/events.js
  tests/solidity/suites/basic/test/revert.js
  tests/solidity/suites/basic/test/storage.js
  tests/solidity/suites/basic/truffle-config.js
  tests/solidity/suites/eip1559/package.json
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/suites/exception/contracts/TestRevert.sol
  tests/solidity/suites/exception/contracts/test/Migrations.sol
  tests/solidity/suites/exception/migrations/1_initial_migration.js
  tests/solidity/suites/exception/package.json
  tests/solidity/suites/exception/test/.gitkeep
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/exception/truffle-config.js
  tests/solidity/suites/opcode/contracts/Migrations.sol
  tests/solidity/suites/opcode/contracts/OpCodes.sol
  tests/solidity/suites/opcode/migrations/1_initial_migration.js
  tests/solidity/suites/opcode/migrations/2_opCodes_migration.js
  tests/solidity/suites/opcode/package.json
  tests/solidity/suites/opcode/test/opCodes.js
  tests/solidity/suites/opcode/truffle-config.js
  tests/solidity/suites/precompiles/contracts/.gitkeep
  tests/solidity/suites/precompiles/hardhat.config.js
  tests/solidity/suites/precompiles/package.json
  tests/solidity/suites/precompiles/test/staking.js
  tests/solidity/test-helper.js
  tests/solidity/yarn.lock
Labels: Type: Build, Type: CI, Type: Tests

#1727 chore(precompiles): return error when extension is not enabled
  CHANGELOG.md
  app/upgrades/v13/upgrades.go
  precompiles/staking/integration_test.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/query_test.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/utils_test.go
  scripts/check_licenses.py
  x/evm/keeper/state_transition.go
  x/evm/types/errors.go
  x/evm/types/params.go
Labels: Type: Build
