Repository evmos/evmos, pull requests merged in 2023-11, with the labels that each got.

#1911 chore(tests): add rocksdb build to nix setup
  default.nix
  nix/default.nix
  nix/rocksdb.nix
  tests/nix_tests/configs/ibc.jsonnet
  tests/nix_tests/configs/memiavl-pruned_node.jsonnet
  tests/nix_tests/conftest.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/network.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_account.py
  tests/nix_tests/test_cli.py
  tests/nix_tests/test_debug_trace.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_gas.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_pruned_node.py
  tests/nix_tests/test_rollback.py
  tests/nix_tests/test_storage_proof.py
  tests/nix_tests/test_stride_outpost.py
  tests/nix_tests/test_types.py
  tests/nix_tests/test_websockets.py
  tests/nix_tests/test_zero_fee.py
  tests/nix_tests/utils.py
Labels: Type: Tests

#1985 imp(ci): add changelog diff check to ci
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: Type: CI

#1952 chore(tests) add gas estimation cases
  CHANGELOG.md
  tests/nix_tests/test_gas.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/utils.py
Labels: Type: Tests

#2004 chore: change: change changelog workflow job name
  .github/workflows/changelog.yml
Labels: Type: CI

#2022 [Snyk] Security upgrade golang from 1.20.5-bullseye to 1.21.3-bullseye
  tests/e2e/Dockerfile.repo
Labels: Type: Tests

#2052 fix(make): fix Make command to compile ERC20 contracts
  CHANGELOG.md
  Makefile
  contracts/compiled_contracts/ERC20Burnable.json
  contracts/compiled_contracts/ERC20DirectBalanceManipulation.json
  contracts/compiled_contracts/ERC20MaliciousDelayed.json
  contracts/compiled_contracts/ERC20MinterBurnerDecimals.json
  contracts/package-lock.json
Labels: Type: Build

#2007 chore: add cmds for rocks and pebble builds
  CHANGELOG.md
  Dockerfile
  Makefile
  scripts/install_librocksdb.sh
Labels: Type: Build

#2087 chore: remove recovery module
  CHANGELOG.md
  app/app.go
  app/keys.go
  app/upgrades/v16/upgrades.go
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/recovery/v1/tx.proto
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/recovery/client/cli/query.go
  x/recovery/genesis.go
  x/recovery/genesis_test.go
  x/recovery/handler.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/grpc_query.go
  x/recovery/keeper/grpc_query_test.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/migrations.go
  x/recovery/keeper/mock_test.go
  x/recovery/keeper/msg_server.go
  x/recovery/keeper/msg_server_test.go
  x/recovery/keeper/params.go
  x/recovery/keeper/params_test.go
  x/recovery/keeper/setup_test.go
  x/recovery/keeper/utils_test.go
  x/recovery/migrations/v2/migrate.go
  x/recovery/migrations/v2/migrate_test.go
  x/recovery/migrations/v2/types/genesis.pb.go
  x/recovery/migrations/v2/types/params.go
  x/recovery/module.go
  x/recovery/types/codec.go
  x/recovery/types/errors.go
  x/recovery/types/events.go
  x/recovery/types/genesis.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/genesis_test.go
  x/recovery/types/interfaces.go
  x/recovery/types/keys.go
  x/recovery/types/msg.go
  x/recovery/types/params.go
  x/recovery/types/params_test.go
  x/recovery/types/query.pb.go
  x/recovery/types/query.pb.gw.go
  x/recovery/types/tx.pb.go
  x/recovery/types/tx.pb.gw.go
Labels: C:Proto, C:CLI

#2089 fix(tests): filter solidity contracts that break compilation & remove unused functions
  go.mod
  tests/nix_tests/hardhat/package.json
  tests/solidity/suites/precompiles/hardhat.config.js
  tests/solidity/suites/precompiles/package.json
Labels: Type: Tests
