Repository evmos/evmos, pull requests merged in 2024-05, with the labels that each got.

#2529 imp(precompiles): Remove Outposts precompiles
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v19/upgrades.go
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/events_test.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/osmosis/utils_test.go
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/errors.go
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/events_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/types.go
  precompiles/outposts/stride/types_test.go
  precompiles/outposts/stride/utils_test.go
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_stride_outpost.py
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Labels: CI, tests, precompile

#2550 fix(precompiles): update secp256r1 precompile bech32 addr
  CHANGELOG.md
  precompiles/common/types.go
Labels: precompile

#2551 chore(tests): migrate staking module wrapper tests
  x/staking/keeper/integration_test.go
  x/staking/keeper/msg_server_test.go
Labels: tests

#2554 chore(docker): update rclone dep
  Dockerfile
Labels: build

#2557 [Snyk] Security upgrade golang from 1.22.2-bullseye to 1.22.3-bullseye
  tests/e2e/Dockerfile.repo
Labels: tests

#2587 feat(jsonrpc): add support for allow-insecure-unlock (#2375)
  CHANGELOG.md
  rpc/backend/backend_suite_test.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  tests/nix_tests/configs/default.jsonnet
Labels: Type: Tests
