Repository evmos/evmos, pull requests merged in 2024-08, with the labels that each got.

#2719 imp(ante): Remove automatic withdrawal of staking rewards in case of insufficient funds
  CHANGELOG.md
  app/ante/cosmos/fees.go
  app/ante/cosmos/fees_test.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/integration_test.go
  app/ante/utils/claim_rewards.go
  app/ante/utils/claim_rewards_test.go
Labels: tests

#2701 chore(erc20): refactor module and tests
  .github/workflows/e2e-test.yml
  api/evmos/erc20/v1/erc20.pulsar.go
  api/evmos/erc20/v1/msg.go
  api/evmos/erc20/v1/tx.pulsar.go
  api/evmos/erc20/v1/tx_grpc.pb.go
  app/app.go
  encoding/config.go
  precompiles/erc20/integration_test.go
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/tx.proto
  tests/nix_tests/configs/str-v2.jsonnet
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_erc20_ibc_callbacks.py
  tests/nix_tests/test_str_v2.py
  tests/nix_tests/utils.py
  testutil/integration/evmos/utils/erc20.go
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/keeper/erc20_utils_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/params_test.go
  x/erc20/keeper/precompiles_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/keeper/utils_test.go
  x/erc20/migrations/v4/migration_test.go
  x/erc20/module.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/BankKeeper.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/tx.pb.go
Labels: proto, CI, CLI, tests, precompile

#2717 chore(ibc): wire up rate limit middleware
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  app/app.go
  app/keys.go
  go.mod
  go.sum
  gomod2nix.toml
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_ibc_ratelimit.py
Labels: CI, tests

#2728 chore(upgrade) add logic
  CHANGELOG.md
  app/app.go
  app/upgrades/v19_1/constants.go
  app/upgrades/v19_1/convert.go
  app/upgrades/v19_1/fixes/missingWallets.go
  app/upgrades/v19_1/upgrades.go
  app/upgrades/v19_1/upgrades_test.go
  app/upgrades/v19_1/utils.go
Labels: tests, release

#2725 chore(v19) update changelog for v19.1.0
  CHANGELOG.md
Labels: release

#2722 chore(vesting): remove legacy proposal
  app/app.go
  x/vesting/client/cli/tx.go
  x/vesting/client/proposal_handler.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/integration_test.go
  x/vesting/proposal_handler.go
  x/vesting/proposal_handler_test.go
Labels: CLI, tests

#2721 chore(ibc): refactor tests
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/erc20.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server_test.go
Labels: proto, CI, CLI, tests, precompile

#2718 chore(vest-precompile): fix vesting tests
  precompiles/vesting/integration_test.go
  precompiles/vesting/setup_test.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/utils_test.go
  precompiles/vesting/vesting.go
  testutil/integration/evmos/factory/vesting.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/grpc/staking.go
Labels: tests, precompile

#2723 chore: refactor evm tests for sdk50
  api/ethermint/crypto/v1/ethsecp256k1/keys.pulsar.go
  api/ethermint/feemarket/v1/events.pulsar.go
  api/ethermint/feemarket/v1/feemarket.pulsar.go
  api/ethermint/feemarket/v1/genesis.pulsar.go
  api/ethermint/feemarket/v1/query.pulsar.go
  api/ethermint/feemarket/v1/tx.pulsar.go
  api/ethermint/types/v1/dynamic_fee.pulsar.go
  api/ethermint/types/v1/indexer.pulsar.go
  api/ethermint/types/v1/web3.pulsar.go
  api/evmos/epochs/v1/genesis.pulsar.go
  api/evmos/epochs/v1/query.pulsar.go
  api/evmos/erc20/v1/erc20.pulsar.go
  api/evmos/erc20/v1/events.pulsar.go
  api/evmos/erc20/v1/genesis.pulsar.go
  api/evmos/erc20/v1/msg.go
  api/evmos/erc20/v1/query.pulsar.go
  api/evmos/erc20/v1/tx.pulsar.go
  api/evmos/inflation/v1/genesis.pulsar.go
  api/evmos/inflation/v1/inflation.pulsar.go
  api/evmos/inflation/v1/query.pulsar.go
  api/evmos/inflation/v1/tx.pulsar.go
  api/evmos/vesting/v1/vesting.pulsar.go
  api/evmos/vesting/v2/events.pulsar.go
  api/evmos/vesting/v2/query.pulsar.go
  api/evmos/vesting/v2/tx.pulsar.go
  api/evmos/vesting/v2/vesting.pulsar.go
  precompiles/erc20/integration_test.go
  precompiles/staking/integration_test.go
  testutil/abci.go
  testutil/integration/common/factory/base.go
  testutil/integration/common/factory/distribution.go
  x/erc20/keeper/erc20_utils_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/mocks/BankKeeper.go
  x/evm/genesis_test.go
  x/evm/keeper/call_evm_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/suite_test.go
  x/evm/migrations/v7/migrate_test.go
  x/evm/statedb/integration_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/vesting/keeper/integration_test.go
Labels: tests, precompile

#2730 chore(deps): add memiavl & versiondb support
  Dockerfile
  app/app.go
  app/baseapp.go
  app/db.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/versiondb.go
  go.mod
  go.sum
  gomod2nix.toml
  local_node.sh
  server/config/config.go
  server/config/toml.go
  server/start.go
  tests/nix_tests/configs/memiavl-pruned_node.jsonnet
  tests/nix_tests/conftest.py
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/network.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_account.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_pruned_node.py
  tests/nix_tests/test_storage_proof.py
  tests/nix_tests/test_zero_fee.py
  tests/nix_tests/utils.py
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/utils.go
Labels: build, tests

#2731 chore: fix linter
  app/ante/evm/utils_test.go
  app/app.go
  app/upgrades/v19/upgrades_test.go
  ibc/testing/endpoint.go
  precompiles/bank/utils_test.go
  precompiles/distribution/events_test.go
  precompiles/distribution/tx.go
  precompiles/ics20/types.go
  precompiles/vesting/integration_test.go
  testutil/integration/ibc/chain/chain.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/feemarket/keeper/setup_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/inflation/v1/keeper/setup_test.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/utils_test.go
Labels: tests, precompile

#2750 chore(events): POC add end auction event
  precompiles/auctions/IAuctions.sol
  precompiles/auctions/abi.json
  rpc/backend/utils.go
  x/auctions/keeper/events.go
  x/auctions/keeper/events_test.go
  x/auctions/keeper/hooks.go
  x/evm/keeper/abci.go
Labels: tests, precompile

#2752 refactor: move func and types to contracts pkg
  contracts/types/types.go
  contracts/types/types_test.go
  contracts/utils/abi.go
  contracts/utils/utils.go
  precompiles/auctions/auctions.go
  precompiles/auctions/events.go
  precompiles/auctions/types.go
  precompiles/authorization/events.go
  precompiles/bank/bank.go
  precompiles/bech32/bech32.go
  precompiles/common/errors.go
  precompiles/common/types.go
  precompiles/distribution/distribution.go
  precompiles/distribution/events.go
  precompiles/distribution/events_test.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/query.go
  precompiles/distribution/query_test.go
  precompiles/distribution/tx.go
  precompiles/distribution/tx_test.go
  precompiles/distribution/types.go
  precompiles/erc20/approve.go
  precompiles/erc20/erc20.go
  precompiles/erc20/events.go
  precompiles/erc20/events_test.go
  precompiles/ics20/approve_common.go
  precompiles/ics20/events.go
  precompiles/ics20/events_test.go
  precompiles/ics20/ics20.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
  precompiles/staking/events.go
  precompiles/staking/events_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/query.go
  precompiles/staking/staking.go
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
  precompiles/staking/utils_test.go
  precompiles/vesting/events.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/vesting.go
  x/auctions/keeper/events.go
  x/auctions/keeper/events_test.go
Labels: tests, precompile, contracts

#2762 fix linter errors
  app/ante/cosmos/authz.go
  app/tps_counter_test.go
  ibc/utils.go
  precompiles/authorization/types.go
  precompiles/common/precompile.go
  precompiles/erc20/tx.go
  precompiles/ics20/types.go
  precompiles/staking/tx.go
  precompiles/testutil/logs.go
  tests/e2e/upgrade/manager.go
  testutil/abci.go
Labels: tests, precompile, release

#2764 chore(go-lint): fix linter errors
  app/ante/cosmos/authz.go
  app/tps_counter_test.go
  ibc/utils.go
  precompiles/authorization/types.go
  precompiles/common/precompile.go
  precompiles/erc20/tx.go
  precompiles/ics20/types.go
  precompiles/staking/tx.go
  precompiles/testutil/logs.go
  tests/e2e/upgrade/manager.go
  testutil/abci.go
Labels: tests, precompile

#2765 fix: EIP for archive queries
  CHANGELOG.md
  x/evm/core/vm/interpreter.go
Labels: release

#2766 chore(tests): add e2e test for toggling erc20 precompiles
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_str_v2.py
Labels: tests

#2759 add upgrade logic to add code to erc20 prec addrs
  CHANGELOG.md
  app/app.go
  app/upgrades/v19_2/constants.go
  app/upgrades/v19_2/upgrades.go
  app/upgrades/v19_2/upgrades_test.go
Labels: tests, release

#2745 feat(auctions): Add auctions module boilerplate
  CHANGELOG.md
  app/ante/cosmos/authz.go
  app/app.go
  app/keys.go
  app/tps_counter_test.go
  app/upgrades/v19_1/constants.go
  app/upgrades/v19_1/convert.go
  app/upgrades/v19_1/fixes/missingWallets.go
  app/upgrades/v19_1/upgrades.go
  app/upgrades/v19_1/upgrades_test.go
  app/upgrades/v19_1/utils.go
  ibc/utils.go
  precompiles/authorization/types.go
  precompiles/common/precompile.go
  precompiles/erc20/tx.go
  precompiles/ics20/errors.go
  precompiles/ics20/types.go
  precompiles/staking/tx.go
  precompiles/testutil/logs.go
  proto/evmos/auctions/v1/auction.proto
  proto/evmos/auctions/v1/genesis.proto
  proto/evmos/auctions/v1/query.proto
  proto/evmos/auctions/v1/tx.proto
  tests/e2e/upgrade/manager.go
  testutil/abci.go
  x/auctions/client/cli/query.go
  x/auctions/client/cli/tx.go
  x/auctions/genesis.go
  x/auctions/keeper/auction.go
  x/auctions/keeper/bid.go
  x/auctions/keeper/grpc_query.go
  x/auctions/keeper/hooks.go
  x/auctions/keeper/keeper.go
  x/auctions/keeper/msg_server.go
  x/auctions/keeper/params.go
  x/auctions/module.go
  x/auctions/types/auction.pb.go
  x/auctions/types/codec.go
  x/auctions/types/errors.go
  x/auctions/types/genesis.go
  x/auctions/types/genesis.pb.go
  x/auctions/types/keys.go
  x/auctions/types/msg.go
  x/auctions/types/params.go
  x/auctions/types/query.pb.go
  x/auctions/types/query.pb.gw.go
  x/auctions/types/tx.pb.go
  x/auctions/types/tx.pb.gw.go
  x/evm/migrations/v7/types/evm.pb.go
Labels: proto, CLI, tests, precompile, release

#2763 chore(erc20): add codehash on erc20 precompile register
  CHANGELOG.md
  app/app.go
  app/upgrades/v19_2/constants.go
  app/upgrades/v19_2/upgrades.go
  app/upgrades/v19_2/upgrades_test.go
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_ibc_ratelimit.py
  tests/nix_tests/test_str_v2.py
  x/erc20/keeper/dynamic_precompiles.go
  x/erc20/keeper/dynamic_precompiles_test.go
  x/erc20/keeper/params.go
  x/erc20/types/constants.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/AccountKeeper.go
  x/erc20/types/mocks/EVMKeeper.go
  x/erc20/types/mocks/MsgClient.go
  x/erc20/types/mocks/MsgServer.go
  x/erc20/types/mocks/QueryClient.go
  x/erc20/types/mocks/QueryServer.go
  x/erc20/types/mocks/StakingKeeper.go
  x/erc20/types/mocks/Subspace.go
  x/erc20/types/utils.go
  x/evm/keeper/keeper_test.go
Labels: tests, release

#2772 chore: prepare changelog for v19.2.0
  CHANGELOG.md
Labels: release

#2741 imp(ante): Remove unnecessary fee ante handler and use Cosmos one instead
  CHANGELOG.md
  app/ante/cosmos.go
  app/ante/cosmos/fees.go
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
Labels: tests

#2773 chore(evm): add bank wrapper
  app/app.go
  utils/utils.go
  x/evm/keeper/bank.go
  x/evm/keeper/fees.go
  x/evm/keeper/gas.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
  x/vesting/keeper/utils_test.go
Labels: tests

#2780 chore(lint) fix lint warnings
  app/ante/evm/ante_test.go
  app/ante/evm/fee_checker.go
  app/tps_counter.go
  ethereum/eip712/domain.go
  ethereum/eip712/eip712_legacy.go
  ibc/testing/endpoint.go
  indexer/kv_indexer.go
  precompiles/erc20/query.go
  precompiles/staking/query_test.go
  precompiles/staking/types.go
  precompiles/staking/utils_test.go
  precompiles/vesting/types.go
  rpc/backend/account_info.go
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/types/block.go
  rpc/types/events.go
  tests/e2e/e2e_suite_test.go
  testutil/integration/common/factory/helper.go
  testutil/tx/cosmos.go
  types/int.go
  types/validation_test.go
  wallets/usbwallet/ledger.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/feemarket/keeper/grpc_query_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/inflation/v1/keeper/epoch_info.go
  x/inflation/v1/keeper/hooks.go
Labels: types, tests, precompile

#2775 tests(evm, feermaket, erc20): Refactor module tests
  app/ante/evm/fee_checker.go
  app/test_helpers.go
  precompiles/ics20/utils_test.go
  precompiles/testutil/contracts/contracts.go
  testutil/abci.go
  testutil/contract.go
  testutil/tx/eth.go
  x/erc20/keeper/utils_test.go
  x/evm/genesis_test.go
  x/evm/keeper/bank.go
  x/evm/keeper/call_evm_test.go
  x/evm/keeper/feemarket.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v7/migrate.go
  x/evm/statedb/integration_test.go
  x/evm/types/msg_test.go
  x/evm/types/params_test.go
  x/evm/types/utils.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/utils_test.go
  x/feemarket/types/params.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/inflation_test.go
  x/staking/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/utils_test.go
Labels: proto, CLI, types, tests, precompile

#2784 chore(evm): refactor getBaseFee to avoid redundant call to get params
  app/ante/evm/interfaces.go
  app/ante/evm/mono.go
  x/evm/keeper/config.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
Labels: tests

#2783 add evm base fee event
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/types/utils.go
  x/evm/keeper/abci.go
  x/evm/types/events.go
Labels: tests

#2785 chore(tests): fix rpc tests
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
Labels: tests

#2742 feat(ics): WIP - ICS Consumer Chain v20 Upgrade
  app/ante/cosmos.go
  app/ante/proposal_whitelisting.go
  app/app.go
  app/keys.go
  app/upgrades/v20/upgrades.go
  x/staking/module.go
Labels: release

#2788 chore(evm): zero extra decimals
  x/evm/keeper/statedb_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
Labels: tests

#2786 chore: fix CI in SDK v0.50 branch
  .github/workflows/auto-format.yml
  .github/workflows/consensuswarn.yml
  .github/workflows/super-linter.yml
  .gitleaks.toml
  .pylintrc
  CHANGELOG.md
  Makefile
  README.md
  app/ante/evm/eth_benchmark_test.go
  local_node.sh
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/entry.py
  scripts/compile-cosmwasm-contracts.sh
  scripts/install_librocksdb.sh
  scripts/integration-test-all.sh
  scripts/license_checker/check_licenses.py
  scripts/license_checker/test_check_licenses.py
  scripts/proto-tools-installer.sh
  scripts/protoc-swagger-gen.sh
  scripts/protocgen-pulsar.sh
  scripts/protocgen.sh
  scripts/run-nix-tests.sh
  scripts/run-solidity-tests.sh
  scripts/start-docker.sh
  scripts/start-geth.sh
  scripts/statesync.bash
  scripts/statesync.sh
  tests/e2e/init-node.sh
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/expected_constants.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/network.py
  tests/nix_tests/test_cli.py
  tests/nix_tests/test_erc20_ibc_callbacks.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_gas.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_ibc_ratelimit.py
  tests/nix_tests/test_ics20_precompile.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_types.py
  tests/nix_tests/test_websockets.py
  tests/nix_tests/utils.py
  tox.ini
Labels: build, CI, tests

#2747 chore(auctions): add unit tests + cached context
  CHANGELOG.md
  Dockerfile
  app/app.go
  scripts/protocgen.sh
  tests/e2e/init-node.sh
  testutil/integration/evmos/network/clients.go
  x/auctions/genesis.go
  x/auctions/keeper/bid.go
  x/auctions/keeper/events_test.go
  x/auctions/keeper/genesis.go
  x/auctions/keeper/genesis_test.go
  x/auctions/keeper/grpc_query.go
  x/auctions/keeper/grpc_query_test.go
  x/auctions/keeper/hooks.go
  x/auctions/keeper/hooks_test.go
  x/auctions/keeper/keeper.go
  x/auctions/keeper/msg_server.go
  x/auctions/keeper/msg_server_test.go
  x/auctions/keeper/utils.go
  x/auctions/keeper/utils_test.go
  x/auctions/module.go
  x/auctions/types/genesis_test.go
  x/auctions/types/params_test.go
  x/erc20/genesis.go
  x/evm/genesis.go
  x/feemarket/genesis.go
  x/inflation/v1/genesis.go
Labels: build, tests, release

#2793 chore(tests): update evm module tests
  x/evm/keeper/fees_test.go
  x/evm/keeper/setup_test.go
Labels: tests

#2797 chore(deps): update docker dep
  Dockerfile
Labels: build
