Repository evmos/evmos, pull requests merged in 2024-12, with the labels that each got.

#3007 fix(test): Verify account balance ante fix tests
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/suite_test.go
Labels: tests

#3006 feat(test): Add support for custom decimals to test suite.
  CHANGELOG.md
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/10_incremenet_sequence_test.go
  app/ante/evm/11_gas_wanted_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/mono.go
  app/ante/evm/suite_test.go
  testutil/integration/evmos/network/amounts.go
  testutil/integration/evmos/network/coins.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/config_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/bank_test.go
  testutil/integration/evmos/utils/gov.go
  x/evm/types/query.pb.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/inflation_test.go
Labels: proto, types, tests

#3027 imp(ci): Disable goreleaser dry run for prs to main
  .github/workflows/go-releaser-dry-run.yml
  CHANGELOG.md
Labels: CI
