Repository evmos/evmos, pull requests merged in 2024-07, with the labels that each got.

#2650 imp(scripts): Adjust contract compilation util to include abi.json files
  CHANGELOG.md
  Makefile
  contracts/utils/utils.go
  precompiles/bank/abi.json
  precompiles/bech32/abi.json
  precompiles/common/abi.go
  precompiles/distribution/abi.json
  precompiles/distribution/distribution.go
  precompiles/erc20/abi.json
  precompiles/ics20/abi.json
  precompiles/ics20/ics20.go
  precompiles/staking/abi.json
  precompiles/staking/testdata/StakingCaller.json
  precompiles/testutil/contracts/DistributionCaller.json
  precompiles/testutil/contracts/InterchainSender.json
  precompiles/vesting/VestingI.sol
  precompiles/vesting/abi.json
  precompiles/vesting/testdata/VestingCaller.json
  precompiles/vesting/testdata/VestingCaller.sol
  precompiles/vesting/vesting.go
  precompiles/werc20/abi.json
  scripts/compile_smart_contracts/compile_smart_contracts.py
  scripts/compile_smart_contracts/test_compile_smart_contracts.py
  scripts/license_checker/check_licenses.py
  tests/nix_tests/test_distr_precompile.py
  x/evm/statedb/testdata/FlashLoan.json
Labels: build, tests, precompile, contracts

#2629 feat(evm): add custom EIPs to VM
  app/config.go
  app/eips.go
  x/evm/config/configurator.go
  x/evm/config/configurator_test.go
  x/evm/core/vm/custom_eip.go
  x/evm/core/vm/custom_eip_test.go
  x/evm/core/vm/eips.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Labels: tests

#2632 feat(str): migration code
  app/app_test.go
  app/upgrades/v19/convert.go
  app/upgrades/v19/fixes/missingWallets.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/utils.go
  go.mod
  x/erc20/keeper/migrations.go
  x/erc20/migrations/v4/migration.go
  x/erc20/migrations/v4/migration_test.go
  x/erc20/module.go
  x/erc20/types/interfaces.go
  x/evm/keeper/statedb.go
Labels: tests

#2657 chore: update CHANGELOG & fix linter
  CHANGELOG.md
  precompiles/common/precompile.go
  precompiles/distribution/integration_test.go
  precompiles/staking/integration_test.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/utils_test.go
  scripts/changelog_checker/config.py
  tests/solidity/suites/precompiles/package.json
  tests/solidity/yarn.lock
Labels: tests, precompile

#2656 [Snyk] Security upgrade golang from 1.22.3-bullseye to 1.23rc1-bullseye
  tests/e2e/Dockerfile.repo
Labels: tests

#2661 chore: add custom eips integration tests
  app/config.go
  app/eips.go
  app/eips/README.md
  app/eips/eips.go
  app/eips/eips_test.go
  app/eips/testdata/Counter.json
  app/eips/testdata/Counter.sol
  app/eips/testdata/CounterFactory.json
  app/eips/testdata/CounterFactory.sol
  app/eips/testdata/contracts.go
  x/evm/core/core/utils.go
  x/evm/core/vm/custom_eip.go
Labels: tests

#2670 feat(str): revert test for erc20 precompile
  app/upgrades/v19/fixes/missingWallets.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/utils.go
  ibc/utils.go
  precompiles/erc20/erc20.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/testdata/ERC20TestCaller.json
  precompiles/erc20/testdata/ERC20TestCaller.sol
  precompiles/erc20/testdata/erc20_test_caller.go
  precompiles/erc20/tx.go
  precompiles/testutil/contracts/contracts.go
  testutil/abci.go
  x/erc20/keeper/precompiles_test.go
  x/erc20/types/params_test.go
Labels: tests, precompile

#2673 chore(ci): add action to auto-format python files
  .github/workflows/auto-format.yml
  .github/workflows/super-linter.yml
  .pylintrc
  Makefile
  scripts/changelog_checker/test_entry.py
  scripts/compile_smart_contracts/compile_smart_contracts.py
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_distr_precompile.py
  tests/nix_tests/test_ics20_precompile.py
  tests/nix_tests/test_str_v2.py
Labels: build, CI, tests

#2667 chore: migration to enable custom eips
  CHANGELOG.md
  app/config.go
  app/eips/README.md
  app/eips/eips_test.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
  client/docs/swagger-ui/swagger.json
  proto/ethermint/evm/v1/evm.proto
  x/evm/config/configurator.go
  x/evm/config/configurator_test.go
  x/evm/core/vm/custom_eip.go
  x/evm/core/vm/custom_eip_test.go
  x/evm/core/vm/eips.go
  x/evm/core/vm/gas_table_test.go
  x/evm/core/vm/interpreter.go
  x/evm/core/vm/stack.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/migrations/v6/migrate.go
  x/evm/migrations/v6/migrate_test.go
  x/evm/migrations/v6/types/evm.pb.go
  x/evm/migrations/v7/migrate.go
  x/evm/migrations/v7/migrate_test.go
  x/evm/migrations/v7/types/evm.pb.go
  x/evm/migrations/v7/types/params.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/query.pb.gw.go
Labels: proto, CLI, tests

#2682 fix(distr-precompile): update claimRewards func
  CHANGELOG.md
  precompiles/distribution/integration_test.go
  precompiles/distribution/tx.go
Labels: tests, precompile

#2672 feat: custom operations
  CHANGELOG.md
  x/evm/core/vm/custom_eip.go
  x/evm/core/vm/custom_eip_test.go
Labels: tests

#2683 imp(evm): Remove duplicate definitions of precompile addresses
  CHANGELOG.md
  app/app.go
  app/app_test.go
  precompiles/bank/bank.go
  precompiles/bech32/bech32.go
  precompiles/distribution/distribution.go
  precompiles/ics20/ics20.go
  precompiles/p256/p256.go
  precompiles/p256/p256_test.go
  precompiles/staking/staking.go
  precompiles/vesting/vesting.go
  x/evm/keeper/integration_test.go
  x/evm/types/params.go
  x/evm/types/precompiles.go
Labels: tests, precompile

#2680 chore(distr-precompile): refactor new tests
  precompiles/distribution/distribution_test.go
  precompiles/distribution/events_test.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/tx_test.go
Labels: tests, precompile

#2685 remove eip 0001, 0002 and base fee from migration
  app/app.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
Labels: tests

#2686 chore(stk-precompile): refactor new tests
  app/app.go
  precompiles/staking/approve_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/tx_test.go
  precompiles/staking/utils_test.go
  precompiles/testutil/contracts/StakingReverter.json
  precompiles/testutil/contracts/StakingReverter.sol
Labels: tests, precompile

#2689 chore: v19 changelog update
  CHANGELOG.md
Labels: release

#2690 fix: update goreleaser flags
  .github/workflows/go-releaser-dry-run.yml
  Makefile
Labels: build, CI, release

#2692 update docker dep
  Dockerfile
Labels: build

#2691 update docker dep
  Dockerfile
Labels: build, release

#2693 fix: update goreleaser flags (#2690)
  .github/workflows/go-releaser-dry-run.yml
  Makefile
Labels: build, CI

#2694 chore: add write permission to goreleaser
  .github/workflows/go-releaser.yml
Labels: CI, release

#2696 fix(erc20): validation considering EIP-55
  CHANGELOG.md
  x/erc20/keeper/precompiles.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
Labels: tests

#2698 fix: add missing wallets
  app/upgrades/v19/fixes/missingWallets.go
Labels: release

#2699 deps: update curl version in dockerfile
  Dockerfile
Labels: build

#2688 chore(erc20-prec): refactor tests
  precompiles/erc20/integration_test.go
  precompiles/erc20/tx.go
  precompiles/erc20/tx_test.go
  precompiles/erc20/utils_test.go
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/utils/genesis.go
  testutil/integration/evmos/utils/params.go
  x/erc20/keeper/precompiles.go
  x/evm/keeper/static_precompiles.go
Labels: tests, precompile

#2709 imp(evm): Minor improvements in precompiles
  CHANGELOG.md
  app/app.go
  precompiles/bank/bank.go
Labels: precompile
