Repository evmos/evmos, pull requests merged in 2024-11, with the labels that each got.

#2938 chore(tests): add 6dec config to nix e2e tests
  app/app.go
  cmd/evmosd/init.go
  cmd/evmosd/root.go
  default.nix
  precompiles/testutil/contracts/InterchainSender.json
  precompiles/testutil/contracts/InterchainSender.sol
  precompiles/testutil/contracts/InterchainSenderCaller.json
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/conftest.py
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/network.py
  tests/nix_tests/test_account.py
  tests/nix_tests/test_cli.py
  tests/nix_tests/test_distr_precompile.py
  tests/nix_tests/test_erc20_ibc_callbacks.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_ibc_ratelimit.py
  tests/nix_tests/test_ics20_precompile.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_pruned_node.py
  tests/nix_tests/test_rollback.py
  tests/nix_tests/test_storage_proof.py
  tests/nix_tests/test_str_v2.py
  tests/nix_tests/test_str_v2_token_factory.py
  tests/nix_tests/test_websockets.py
  tests/nix_tests/test_zero_fee.py
  tests/nix_tests/utils.py
  utils/utils.go
  x/evm/types/denom.go
  x/evm/wrappers/bank.go
Labels: tests, precompile

#2962 fix(erc20): Register code hash also for native precompiles
  CHANGELOG.md
  app/upgrades/v19_2/upgrades_test.go
  default.nix
  x/erc20/keeper/dynamic_precompiles.go
  x/erc20/keeper/dynamic_precompiles_test.go
  x/erc20/keeper/params.go
  x/erc20/types/utils.go
  x/evm/genesis_test.go
  x/evm/keeper/statedb_test.go
Labels: tests

#2943 chore(werc20): Add wrapper ERC20 precompile
  .github/workflows/super-linter.yml
  CHANGELOG.md
  contracts/compiled_contracts/WEVMOS.json
  contracts/hardhat.config.js
  contracts/wevmos.go
  precompiles/bank/bank.go
  precompiles/common/precompile.go
  precompiles/distribution/distribution.go
  precompiles/distribution/distribution_test.go
  precompiles/erc20/erc20.go
  precompiles/erc20/erc20_test.go
  precompiles/erc20/query.go
  precompiles/erc20/tx.go
  precompiles/erc20/types.go
  precompiles/gov/gov.go
  precompiles/gov/gov_test.go
  precompiles/ics20/ics20.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
  precompiles/vesting/vesting.go
  precompiles/werc20/IWERC20.sol
  precompiles/werc20/abi.json
  precompiles/werc20/events.go
  precompiles/werc20/events_test.go
  precompiles/werc20/integration_test.go
  precompiles/werc20/testdata/WEVMOS9.json
  precompiles/werc20/testdata/WEVMOS9.sol
  precompiles/werc20/testdata/WEVMOS9TestCaller.json
  precompiles/werc20/testdata/WEVMOS9TestCaller.sol
  precompiles/werc20/testdata/wevmos9.go
  precompiles/werc20/testdata/wevmos9_test_caller.go
  precompiles/werc20/tx.go
  precompiles/werc20/utils_test.go
  precompiles/werc20/werc20.go
  scripts/compile_smart_contracts/compile_smart_contracts.py
  tests/nix_tests/hardhat/hardhat.config.js
  tests/solidity/suites/precompiles/hardhat.config.js
  testutil/integration/evmos/network/chain_id_modifiers.go
  testutil/integration/evmos/network/setup.go
  x/erc20/keeper/precompiles.go
  x/erc20/types/params.go
  x/evm/genesis_test.go
  x/evm/keeper/call_evm_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb_test.go
Labels: CI, tests, precompile, contracts

#2982 chore(tests): add check tx fee test
  .github/workflows/ante-benchmark.yml
  app/ante/evm/04_validate_test.go
  app/config_testing.go
  precompiles/werc20/events_test.go
  precompiles/werc20/integration_test.go
  testutil/integration/evmos/network/chain_id_modifiers.go
  x/erc20/types/params.go
Labels: CI, tests, precompile

#2991 feat(slashing): Add slashing precompile and tests
  CHANGELOG.md
  app/app.go
  precompiles/slashing/ISlashing.sol
  precompiles/slashing/abi.json
  precompiles/slashing/events.go
  precompiles/slashing/events_test.go
  precompiles/slashing/query.go
  precompiles/slashing/query_test.go
  precompiles/slashing/setup_test.go
  precompiles/slashing/slashing.go
  precompiles/slashing/tx.go
  precompiles/slashing/tx_test.go
  precompiles/slashing/types.go
  x/evm/keeper/static_precompiles.go
  x/evm/types/precompiles.go
Labels: tests, precompile

#2987 feat(test): Add support to custom decimals to test suite
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  app/ante/evm_benchmark_test.go
  app/ante/integration_test.go
  app/app_test.go
  precompiles/bank/integration_test.go
  precompiles/distribution/integration_test.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  precompiles/gov/integration_test.go
  precompiles/gov/query_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/utils_test.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/utils_test.go
  precompiles/werc20/integration_test.go
  testutil/integration/common/factory/helper.go
  testutil/integration/common/grpc/bank.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/grpc/evm.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/coins.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/config_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/bank.go
  testutil/integration/evmos/utils/bank_test.go
  testutil/integration/evmos/utils/gov.go
  testutil/integration/evmos/utils/staking.go
  types/coin.go
  x/erc20/keeper/integration_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/denom.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
  x/staking/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
Labels: types, tests, precompile

#2997 feat(precompile): Evidence precompile queries, tx and tests
  CHANGELOG.md
  app/app.go
  precompiles/evidence/IEvidence.sol
  precompiles/evidence/abi.json
  precompiles/evidence/errors.go
  precompiles/evidence/events.go
  precompiles/evidence/evidence.go
  precompiles/evidence/query.go
  precompiles/evidence/query_test.go
  precompiles/evidence/setup_test.go
  precompiles/evidence/tx.go
  precompiles/evidence/tx_test.go
  precompiles/evidence/types.go
  x/evm/keeper/static_precompiles.go
  x/evm/types/precompiles.go
Labels: tests, precompile
