Repository evmos/evmos, pull requests merged in 2024-09, with the labels that each got.

#2804 chore(docker): update docker dep
  Dockerfile
Labels: build

#2806 chore(tests): add consumer custom genesis
  precompiles/staking/utils_test.go
  testutil/consumer.go
Labels: tests, precompile

#2798 fix(ci): Fix E2E tests on SDK v0.50 branch
  Dockerfile
  app/app.go
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrades.go
  local_node.sh
  nix/hermes.nix
  tests/e2e/Dockerfile.repo
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/manager_test.go
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
  tests/e2e/utils.go
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_cli.py
  tests/nix_tests/test_erc20_ibc_callbacks.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_websockets.py
  tests/nix_tests/utils.py
Labels: build, tests

#2808 chore(tests): add ccv module genesis state for testing
  app/app.go
  precompiles/distribution/utils_test.go
  precompiles/ics20/utils_test.go
  precompiles/vesting/utils_test.go
  testutil/consumer.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Labels: tests, precompile

#2819 chore: minor changes for Cosmos sdk 0.50
  .github/workflows/consensuswarn.yml
  app/app.go
  rpc/backend/mocks/client.go
  x/epochs/module.go
  x/erc20/module.go
  x/evm/keeper/msg_server.go
  x/evm/module.go
  x/feemarket/module.go
  x/vesting/module.go
Labels: CI

#2839 fix linter
  app/ante/evm/12_emit_event.go
  app/ante/evm/mono.go
  ibc/testing/endpoint.go
  indexer/kv_indexer.go
  precompiles/authorization/events.go
  precompiles/distribution/events.go
  precompiles/distribution/events_test.go
  precompiles/erc20/events.go
  precompiles/erc20/events_test.go
  precompiles/ics20/events.go
  precompiles/staking/events.go
  precompiles/staking/events_test.go
  precompiles/staking/tx_test.go
  precompiles/staking/utils_test.go
  precompiles/testutil/events.go
  precompiles/vesting/events.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/utils_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/types/events.go
  rpc/types/utils.go
  tests/e2e/upgrade/manager.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/utils/genesis.go
  testutil/tx/eth.go
  types/int.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition_test.go
  x/inflation/v1/keeper/epoch_info.go
  x/inflation/v1/keeper/hooks_test.go
Labels: types, tests, precompile

#2856 imp(rpc): increase performance of eth_headerByHash
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/client_test.go
  rpc/backend/filters.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/utils.go
  tests/nix_tests/test_no_abci_resp.py
Labels: tests

#2858 feat(precompile): add gov precompile (vote only)
  CHANGELOG.md
  app/app.go
  precompiles/gov/IGov.sol
  precompiles/gov/abi.json
  precompiles/gov/errors.go
  precompiles/gov/events.go
  precompiles/gov/events_test.go
  precompiles/gov/gov.go
  precompiles/gov/gov_test.go
  precompiles/gov/integration_test.go
  precompiles/gov/query.go
  precompiles/gov/query_test.go
  precompiles/gov/setup_test.go
  precompiles/gov/tx.go
  precompiles/gov/tx_test.go
  precompiles/gov/types.go
  x/evm/keeper/static_precompiles.go
  x/evm/types/params.go
  x/evm/types/precompiles.go
Labels: tests, precompile

#2861 add v20-rc2 upgrade to enable gov prec
  app/app.go
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
Labels: tests

#2863 add expedited proposal params update to upgrade handler
  app/app.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
  testutil/integration/evmos/network/setup.go
Labels: tests

#2874 chore(upgrade): add fix denom meta logic
  CHANGELOG.md
  app/app.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
Labels: tests

#2873 chore(evm): Remove unused ChainID from Evm keeper.
  CHANGELOG.md
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/interfaces.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/app.go
  app/post/setup_test.go
  precompiles/distribution/distribution_test.go
  precompiles/gov/gov_test.go
  precompiles/staking/staking_test.go
  precompiles/testutil/contracts/contracts.go
  testutil/abci.go
  testutil/contract.go
  testutil/tx/eth.go
  x/evm/genesis.go
  x/evm/keeper/abci.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/module.go
  x/vesting/keeper/integration_test.go
Labels: tests, precompile

#2880 fix(vesting): delegated on addGrant
  CHANGELOG.md
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/clawback_vesting_account.go
Labels: tests

#2887 fix revert with error handling on test
  CHANGELOG.md
  rpc/backend/call_tx.go
  testutil/integration/evmos/grpc/evm.go
Labels: tests, release

#2879 chore(test): add e2e test case for estimate_gas revert
  tests/nix_tests/hardhat/contracts/TestRevert.sol
  tests/nix_tests/test_gas.py
  tests/nix_tests/utils.py
Labels: tests, release

#2872 feat(evm): Add bank wrapper for coin decimal conversion
  CHANGELOG.md
  app/ante/cosmos/authz_test.go
  app/ante/evm/08_vesting.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/mono.go
  app/ante/evm/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/preprocess_test.go
  precompiles/distribution/tx.go
  precompiles/erc20/tx.go
  precompiles/ics20/tx.go
  precompiles/staking/tx.go
  precompiles/vesting/tx.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  tests/e2e/tx_test.go
  testutil/tx/eth.go
  x/evm/client/cli/tx.go
  x/evm/config/chain_config.go
  x/evm/config/configurator.go
  x/evm/config/denom_config.go
  x/evm/keeper/call_evm.go
  x/evm/keeper/fees.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils_test.go
  x/evm/types/interfaces.go
  x/evm/types/msg_test.go
  x/evm/wrappers/README.md
  x/evm/wrappers/bank.go
  x/evm/wrappers/utils.go
  x/evm/wrappers/utils_test.go
Labels: CLI, tests, precompile

#2897 chore(evm): adjust extra decimals on stateDB methods
  CHANGELOG.md
  x/evm/statedb/state_object.go
  x/evm/wrappers/bank.go
  x/evm/wrappers/utils.go
  x/evm/wrappers/utils_test.go
Labels: tests
