Repository evmos/evmos, pull requests merged in 2024-10, with the labels that each got.

#2905 chore(evm): move wrappers utils to types pkg
  x/evm/statedb/state_object.go
  x/evm/types/scaling.go
  x/evm/types/scaling_test.go
  x/evm/wrappers/bank.go
Labels: tests

#2906 chore(evm): add scaling on buildTx fees
  CHANGELOG.md
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Labels: tests

#2908 chore(evm): refactor rpc gas prices to support 6 dec
  CHANGELOG.md
  api/ethermint/evm/v1/query.pulsar.go
  api/ethermint/evm/v1/query_grpc.pb.go
  client/docs/swagger-ui/swagger.json
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/mocks/evm_query_client.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/scaling.go
  x/evm/types/scaling_test.go
Labels: proto, CLI, tests

#2907 feat(ante): Add support for custom decimals
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/evm/01_setup_ctx.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/mono.go
  x/evm/keeper/fees.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/scaling.go
  x/evm/types/tx_data.go
  x/evm/types/utils.go
Labels: tests

#2914 chore(app): Refactor configurator
  CHANGELOG.md
  app/ante/testutils/testutils.go
  app/config.go
  app/config_testing.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/setup_test.go
  x/evm/types/config_testing.go
  x/evm/types/configurator.go
  x/evm/types/denom_config.go
  x/evm/types/denom_config_testing.go
  x/evm/types/msg_test.go
  x/evm/types/scaling_test.go
Labels: tests

#2921 fix: use default denom when using rootCmd
  CHANGELOG.md
  app/config.go
  cmd/evmosd/root.go
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_patches.py
Labels: tests

#2924 chore(bank-prec): Update bank precompile doc to specify decimals used
  precompiles/bank/IBank.sol
  precompiles/bank/bank.go
  precompiles/bank/integration_test.go
  precompiles/bank/query.go
  precompiles/bank/types.go
Labels: tests, precompile

#2922 feat(gov): Add VoteWeighted transaction, unit and integration tests.
  CHANGELOG.md
  precompiles/gov/IGov.sol
  precompiles/gov/abi.json
  precompiles/gov/errors.go
  precompiles/gov/events.go
  precompiles/gov/events_test.go
  precompiles/gov/gov.go
  precompiles/gov/integration_test.go
  precompiles/gov/tx.go
  precompiles/gov/tx_test.go
  precompiles/gov/types.go
Labels: tests, precompile

#2926 chore(staking-precompile): scale balanceChange entry amt
  CHANGELOG.md
  precompiles/staking/StakingI.sol
  precompiles/staking/tx.go
Labels: precompile

#2933 chore(upgrade): v20 upgrade logic
  CHANGELOG.md
  app/app.go
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
Labels: tests

#2929 chore(dist-prec): convert balance change entries
  CHANGELOG.md
  precompiles/distribution/distribution.go
  precompiles/distribution/tx.go
Labels: precompile

#2928 chore(vesting-precompile): scale balanceChange entry amt
  CHANGELOG.md
  precompiles/vesting/tx.go
  precompiles/vesting/vesting.go
Labels: precompile

#2936 chore(evm): add config query
  CHANGELOG.md
  api/ethermint/evm/v1/evm.pulsar.go
  api/ethermint/evm/v1/query.pulsar.go
  api/ethermint/evm/v1/query_grpc.pb.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/11_gas_wanted.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/mono.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/post/setup_test.go
  client/docs/swagger-ui/swagger.json
  precompiles/distribution/distribution_test.go
  precompiles/gov/gov_test.go
  precompiles/staking/staking_test.go
  precompiles/testutil/contracts/contracts.go
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  rpc/backend/chain_info.go
  rpc/backend/mocks/evm_query_client.go
  testutil/contract.go
  testutil/integration/evmos/network/network.go
  testutil/tx/eth.go
  x/evm/client/cli/query.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/chain_config.go
  x/evm/types/config.go
  x/evm/types/config_testing.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Labels: proto, CLI, tests, precompile

#2941 feat(gov-precompile): Added getDeposit, getDeposits and getTallyResults queries, unit and integration tests.
  .github/workflows/e2e-test.yml
  .golangci.yml
  CHANGELOG.md
  precompiles/gov/IGov.sol
  precompiles/gov/abi.json
  precompiles/gov/errors.go
  precompiles/gov/gov.go
  precompiles/gov/integration_test.go
  precompiles/gov/query.go
  precompiles/gov/query_test.go
  precompiles/gov/setup_test.go
  precompiles/gov/types.go
Labels: CI, tests, precompile

#2946 chore: update linters
  .golangci.yml
  precompiles/bank/query_test.go
  precompiles/distribution/distribution_test.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/erc20_test.go
  precompiles/erc20/events_test.go
  precompiles/erc20/query_test.go
  precompiles/erc20/tx_test.go
  precompiles/erc20/types_test.go
  precompiles/gov/gov_test.go
  precompiles/staking/approve_test.go
  precompiles/vesting/integration_test.go
  server/config/migration/migration.go
  tests/e2e/upgrade/balances_test.go
  testutil/integration/evmos/utils/bank_test.go
  utils/utils_test.go
  x/epochs/types/genesis_test.go
  x/erc20/types/genesis_test.go
  x/evm/client/cli/utils_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/types/genesis_test.go
  x/evm/types/logs_test.go
  x/evm/types/params_test.go
  x/evm/types/storage_test.go
  x/feemarket/types/genesis_test.go
  x/inflation/v1/keeper/msg_server_test.go
  x/inflation/v1/types/genesis_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server_test.go
Labels: CI, CLI, tests, precompile

#2952 chore(ci): ignore pin version linter
  Dockerfile
Labels: build
