Repository evmos/evmos, pull requests merged in 2024-02, with the labels that each got.

#2299 fix(inflation): Move inflation reduction factor in emission function
  .github/workflows/auto-format.yml
  CHANGELOG.md
  tests/e2e/upgrade/manager.go
  x/inflation/v1/keeper/genesis_test.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
  x/inflation/v1/keeper/utils_test.go
  x/inflation/v1/types/inflation_calculation.go
  x/inflation/v1/types/inflation_calculation_test.go
Labels: CI, tests

#2318 chore(tests): update nix setup for sdk v0.50
  app/export.go
  default.nix
  nix/bin.nix
  nix/default.nix
  nix/hermes.nix
  nix/sources.json
  scripts/protocgen-pulsar.sh
  tests/e2e/upgrade/manager.go
  tests/nix_tests/configs/broken-evmosd.patch
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/conftest.py
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/network.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_account.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_pruned_node.py
  tests/nix_tests/test_storage_proof.py
  tests/nix_tests/test_zero_fee.py
  testutil/integration/evmos/factory/broadcast.go
  x/evm/keeper/grpc_query_test.go
Labels: build, tests

#2321 chore(ci): add markdown lint and build targets for release branch
  .github/workflows/build.yml
  .github/workflows/markdown-links.yml
  CHANGELOG.md
Labels: CI

#2317 chore(ci): Add codecov token to workflow
  .github/workflows/test.yml
Labels: CI

#2325 fix(tests): Fix statedb and abci tests on the EVM module
  x/evm/keeper/abci_test.go
  x/evm/keeper/statedb_test.go
Labels: tests

#2311 fix(tests): Fix post-upgrade transactions in automated upgrade tests
  CHANGELOG.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/tx_test.go
  tests/e2e/upgrade/balances.go
  tests/e2e/upgrade/balances_test.go
  tests/e2e/upgrade/exec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/queryexec.go
Labels: tests

#2319 chore(dep): bump go to 1.21
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/solidity-test.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  default.nix
  go.mod
  go.sum
  networks/local/evmos/Dockerfile
  nix/default.nix
Labels: build, CI

#2326 fix(ci): remove upload cache step nix tests
  .github/workflows/e2e-test.yml
Labels: CI

#2328 fix(tests): refactor genesis and handler tests for sdk v0.50
  x/evm/genesis_test.go
  x/evm/handler_test.go
Labels: tests

#2320 imp(ci): remove duplicated yaml file
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
Labels: CI

#2332 fix(tests): create home dir in temp directory in test
  CHANGELOG.md
  cmd/evmosd/cmd_test.go
Labels: tests

#2290 imp(upgrade): Add migration logic for STR v2 to upgrade handler
  .gitleaks.toml
  CHANGELOG.md
  app/ante/evm/06_account_verification.go
  app/app.go
  app/upgrades/v17/convert.go
  app/upgrades/v17/convert_test.go
  app/upgrades/v17/genesis_test.go
  app/upgrades/v17/integration_test.go
  app/upgrades/v17/migration.go
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/utils_test.go
  tests/e2e/upgrade/manager.go
  testutil/integration/evmos/grpc/erc20.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/setup.go
  x/erc20/keeper/ibc_callbacks.go
Labels: tests

#2327 tests(str): Add native coins ibc integration tests
  x/erc20/keeper/ibc_callbacks_integration_test.go
Labels: tests

#2329 fix(wevmos): make WEVMOS deposit and withdraw functions real no-ops and fix tests
  CHANGELOG.md
  precompiles/werc20/events.go
  precompiles/werc20/integration_test.go
  precompiles/werc20/tx.go
  precompiles/werc20/types.go
  precompiles/werc20/werc20.go
Labels: tests, precompile

#2209 chore(test): migrate evm keeper tests
  api/ethermint/evm/v1/dynamic_fee_tx.go
  api/ethermint/evm/v1/msg.go
  app/export.go
  default.nix
  nix/bin.nix
  nix/default.nix
  nix/hermes.nix
  nix/sources.json
  scripts/protocgen-pulsar.sh
  tests/e2e/upgrade/manager.go
  tests/nix_tests/configs/broken-evmosd.patch
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/conftest.py
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/http_rpc.py
  tests/nix_tests/network.py
  tests/nix_tests/shell.nix
  tests/nix_tests/test_account.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
  tests/nix_tests/test_grpc_only.py
  tests/nix_tests/test_ibc.py
  tests/nix_tests/test_no_abci_resp.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_pruned_node.py
  tests/nix_tests/test_storage_proof.py
  tests/nix_tests/test_zero_fee.py
  tests/nix_tests/utils.py
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/events.go
  testutil/integration/evmos/utils/types.go
  utils/eth/eth.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params_benchmark_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/precompiles_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/suite_test.go
  x/evm/keeper/utils_test.go
Labels: build, tests

#2337 fix(ci): add token in checkout action
  .github/workflows/e2e-test.yml
Labels: CI

#2341 chore: fix lint issues
  app/ante/evm/07_can_transfer_test.go
  app/ante/sigverify_test.go
  app/ante/utils/claim_rewards_test.go
  client/block/block.go
  precompiles/bech32/bech32_test.go
  precompiles/bech32/methods_test.go
  precompiles/distribution/events_test.go
  precompiles/distribution/query_test.go
  precompiles/distribution/tx_test.go
  precompiles/erc20/query_test.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/query_test.go
  precompiles/ics20/tx_test.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/utils_test.go
  precompiles/staking/approve_test.go
  precompiles/staking/query_test.go
  precompiles/staking/tx_test.go
  precompiles/vesting/query_test.go
  precompiles/vesting/tx_test.go
  rpc/backend/account_info_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/tx_info_test.go
  rpc/websockets.go
  tests/integration/ledger/ledger_test.go
  testutil/integration/ibc/coordinator/coordinator.go
  testutil/tx/eip712.go
  x/evm/keeper/hooks_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/utils_test.go
  x/feemarket/client/cli/query.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/proposal_handler_test.go
Labels: CLI, tests, precompile

#2142 imp(erc20-precompile): Adjust required gas on ERC20 extension
  CHANGELOG.md
  precompiles/erc20/erc20.go
  precompiles/erc20/erc20_test.go
  precompiles/erc20/integration_test.go
Labels: tests, precompile

#2338 chore(tests): refactor EVM anteHandler tests
  app/ante/cosmos/vesting.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/10_incremenet_sequence_test.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/11_gas_wanted_test.go
  app/ante/evm/12_emit_event.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/mono.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/ante/evm/utils_test.go
  encoding/config.go
  ethereum/eip712/encoding.go
  ethereum/eip712/encoding_legacy.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/query_test.go
  proto/ethermint/evm/v1/tx.proto
  server/start.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  testutil/integration/common/factory/sign.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/params.go
  testutil/tx/eip712.go
  testutil/tx/signer.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/interfaces.go
  x/evm/types/tx.pb.go
Labels: proto, build, tests, precompile

#2343 wip: fixing dynamic precompiles. Re-writing integration-tests for werc20
  app/upgrades/v17/integration_test.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  precompiles/werc20/integration_test.go
  precompiles/werc20/setup_test.go
  precompiles/werc20/tx.go
  precompiles/werc20/utils_test.go
  precompiles/werc20/werc20.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/precompiles_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/params.go
  x/evm/keeper/static_precompiles.go
  x/evm/keeper/static_precompiles_test.go
  x/evm/types/params.go
Labels: tests, precompile

#2353 chore(test): refactor anteHandler integration test
  app/ante/handler_options_test.go
  app/ante/integration_test.go
  app/ante/setup_test.go
  testutil/integration/common/grpc/distribution.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/common/grpc/staking.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/clients.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/bank.go
  testutil/integration/evmos/utils/staking.go
Labels: tests

#2354 chore(tests): fix EIP712 tests
  ethereum/eip712/eip712_test.go
  ethereum/eip712/message.go
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Labels: tests

#2352 imp(werc20): Remove WERC-20 precompile and register WEVMOS as standard ERC-20 precompile
  CHANGELOG.md
  app/app.go
  app/upgrades/v17/convert.go
  app/upgrades/v17/convert_test.go
  app/upgrades/v17/erc20.go
  app/upgrades/v17/erc20_test.go
  app/upgrades/v17/integration_test.go
  app/upgrades/v17/migration.go
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/utils_test.go
  contracts/WEVMOS.sol
  contracts/compiled_contracts/WEVMOS.json
  contracts/wevmos.go
  precompiles/p256/integration_test.go
  precompiles/staking/integration_test.go
  precompiles/werc20/IWERC20.sol
  precompiles/werc20/abi.json
  precompiles/werc20/integration_test.go
  precompiles/werc20/tx.go
  precompiles/werc20/werc20.go
  testutil/integration/evmos/grpc/erc20.go
  testutil/integration/evmos/grpc/grpc.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/precompiles_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/EVMKeeper.go
  x/erc20/types/token_pair.go
  x/evm/keeper/dynamic_precompiles.go
  x/evm/keeper/static_precompiles.go
  x/evm/keeper/static_precompiles_test.go
  x/vesting/keeper/msg_server_test.go
Labels: proto, tests, precompile, contracts

#2348 imp(tests): Upstream Integration tests suite from sdk50 branch
  CHANGELOG.md
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
Labels: tests

#2362 chore(tests): update hardhat version
  tests/solidity/suites/precompiles/package.json
  tests/solidity/yarn.lock
Labels: tests

#2361 chore: fix solidity warnings
  precompiles/ics20/ICS20I.sol
  precompiles/staking/StakingI.sol
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/vesting/testdata/VestingCaller.sol
  tests/solidity/suites/basic/contracts/Counter.sol
  tests/solidity/suites/basic/contracts/Storage.sol
  tests/solidity/suites/opcode/contracts/OpCodes.sol
Labels: tests, precompile

#2313 str(tests): Add nix e2e tests
  tests/nix_tests/configs/default.jsonnet
  tests/nix_tests/configs/str-v2.jsonnet
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_str_v2.py
  tests/nix_tests/utils.py
Labels: proto, tests, precompile

#2350 test(str-v2): Handle tokenfactory edge case and nix test
  CHANGELOG.md
  tests/nix_tests/configs/str-v2-token-factory.jsonnet
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_str_v2_token_factory.py
  x/erc20/keeper/ibc_callbacks.go
Labels: tests

#2373 imp(evm): Remove ChainID constraint
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg_test.go
Labels: tests

#2372 imp(evm): Add ApplyTransaction benchmark with new setup
  precompiles/bank/bank.go
  precompiles/erc20/erc20.go
  testutil/integration/evmos/keyring/keyring.go
  x/evm/keeper/state_transition_benchmark_test.go
Labels: tests, precompile

#2307 imp(evm): Add global BuildEVMExecutionCtx function
  CHANGELOG.md
  app/ante/evm/01_setup_ctx.go
  x/evm/ante/ctx.go
  x/evm/ante/ctx_test.go
  x/evm/ante/suite_test.go
  x/evm/keeper/grpc_query.go
Labels: tests

#2369 chore(tests): migrate epochs module tests
  testutil/integration/evmos/network/clients.go
  testutil/integration/evmos/network/setup.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/setup_test.go
  x/epochs/keeper/utils_test.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/identifier.go
Labels: proto, tests
