Repository evmos/evmos, pull requests merged in 2024-01, with the labels that each got.

#2268 fix(ci): Update configuration for pull request labeler
  .github/labeler.yml
  CHANGELOG.md
Labels: CI

#2259 fix(ci): fix CI config for required items to always run but stop when no diff
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-test.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/slither.yml
  .github/workflows/solhint.yml
  .github/workflows/super-linter.yml
  CHANGELOG.md
Labels: CI

#2267 imp(tests): Minor clean up in EIP-7212 tests
  .github/labeler.yml
  CHANGELOG.md
  precompiles/p256/p256_test.go
Labels: CI, tests, precompile

#2269 fix(inflation): update query to return correct inflation value
  CHANGELOG.md
  x/inflation/v1/keeper/genesis_test.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
Labels: tests

#2147 imp(ante): Refractor EVM ante tests and remove legacy handlers
  app/ante/evm.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/02_mempool_fee_test.go
  app/ante/evm/03_global_fee.go
  app/ante/evm/03_global_fee_test.go
  app/ante/evm/04_validate.go
  app/ante/evm/04_validate_test.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/10_incremenet_sequence_test.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/11_gas_wanted_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/fees_test.go
  app/ante/evm/mono.go
  app/ante/evm/suite_test.go
  app/ante/evm/utils_test.go
  app/ante/evm/vesting_test.go
  testutil/integration/common/grpc/bank.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/factory/sign.go
  testutil/integration/evmos/grpc/feemarket.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/params.go
  testutil/integration/evmos/network/unit_network.go
  x/evm/types/tx.go
  x/evm/types/tx_types.go
Labels: tests

#2276 fix(str): Revert deleted RegisterCoinProposal protos and types
  CHANGELOG.md
  proto/evmos/erc20/v1/erc20.proto
  x/erc20/types/erc20.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
Labels: proto, build, CI, tests, precompile

#2158 chore(str): Remove MsgConvertCoin and all it's related protos, types and tests
  CHANGELOG.md
  precompiles/outposts/stride/utils_test.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/handler.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Labels: proto, tests, precompile

#2140 imp(changelog): Add changelog checker
  .github/workflows/changelog.yml
  .github/workflows/test.yml
  .markdownlintignore
  CHANGELOG.md
  Makefile
  scripts/changelog_checker/README.md
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/config.py
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/release.py
  scripts/changelog_checker/test_change_type.py
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/test_config.py
  scripts/changelog_checker/test_entry.py
  scripts/changelog_checker/test_release.py
  scripts/changelog_checker/testdata/changelog_fail.md
  scripts/changelog_checker/testdata/changelog_ok.md
  scripts/license_checker/check_licenses.py
  scripts/license_checker/test_check_licenses.py
Labels: build, CI

#2235 imp(tests): Check voting has concluded in automated upgrade tests
  CHANGELOG.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/queryexec.go
Labels: tests

#2230 imp(tests): Add post-upgrade transactions to E2E upgrade test suite
  CHANGELOG.md
  app/upgrades/v16/constants.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/exec.go
  tests/e2e/upgrade/utils.go
Labels: tests

#2280 imp(tests): Enable specifying the prefunded balances for the integration test setup
  CHANGELOG.md
  testutil/integration/common/grpc/bank.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/config_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Labels: tests

#2289 imp(tests): add utility to check balances in tests
  CHANGELOG.md
  testutil/integration/evmos/utils/bank.go
  testutil/integration/evmos/utils/bank_test.go
Labels: tests

#2292 chore(erc20): revert unnecessary logic on genesis
  .github/workflows/super-linter.yml
  CHANGELOG.md
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  x/erc20/genesis.go
  x/erc20/genesis_test.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/genesis.go
  x/erc20/keeper/genesis_test.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/EVMKeeper.go
Labels: CI, tests

#2296 imp(test): Add custom genesis config functionality to integration setup
  CHANGELOG.md
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Labels: tests

#2295 chore(upgrade): Merge changes from v16 release branch to main
  CHANGELOG.md
  app/app.go
  app/upgrades/v16/proposals.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  x/evm/types/utils.go
Labels: tests, precompile

#2294 [Snyk] Security upgrade golang from 1.21.3-bullseye to 1.22rc2-bullseye
  tests/e2e/Dockerfile.repo
Labels: tests

#2300 feat(str): erc20 callback fixes and unit tests
  ibc/utils.go
  ibc/utils_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/types/errors.go
Labels: tests

#2301 imp(tests): add parallel execution on nix tests
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  scripts/run-nix-tests.sh
Labels: build, CI, tests

#2159 imp(str): Updated ERC20 IBC middleware logic
  CHANGELOG.md
  ibc/utils.go
  ibc/utils_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/precompiles.go
  x/erc20/types/errors.go
  x/evm/types/params.go
  x/ibc/transfer/keeper/msg_server.go
Labels: tests, precompile

#2287 fix(evm): Fix `grpc_query` tests
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/network.go
  x/evm/keeper/grpc_query_test.go
Labels: tests
