Repository evmos/evmos, pull requests merged in 2024-06, with the labels that each got.

#2594 chore(evm): Move CallEVM and CallEVMWithData to evm module
  CHANGELOG.md
  x/erc20/keeper/erc20_utils_test.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/errors.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/EVMKeeper.go
  x/evm/keeper/call_evm.go
  x/evm/types/errors.go
  x/evm/types/interfaces.go
Labels: tests

#2596 chore(app): backport v18.1 changes to main
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  precompiles/ics20/ics20.go
  precompiles/ics20/tx.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
  tests/nix_tests/hardhat/contracts/ICS20FromContract.sol
  tests/nix_tests/test_ics20_precompile.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/utils.py
  x/evm/keeper/precompiles.go
Labels: CI, tests, precompile

#2609 Revert "chore(erc20): re-add deleted erc20 evm hooks (#2502)" & remove STRv2 tracking logic
  CHANGELOG.md
  app/app.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/str_v2.go
  x/erc20/keeper/str_v2_test.go
  x/erc20/strv2/strv2_hooks_test.go
  x/erc20/strv2/strv2_integration_test.go
  x/erc20/strv2/strv2_integration_utils_test.go
  x/erc20/types/events.go
Labels: tests

#2613 fix(contracts): Remove unused contract and make script compatible with Python <3.12
  CHANGELOG.md
  precompiles/staking/testdata/StakingCaller.json
  scripts/compile_smart_contracts/compile_smart_contracts.py
  x/erc20/keeper/testdata/ERC20DirectBalanceManipulation.json
  x/erc20/keeper/testdata/ERC20MaliciousDelayed.json
  x/erc20/keeper/testdata/tokenTransfer.go
  x/erc20/keeper/testdata/tokenTransfer.json
  x/erc20/keeper/testdata/tokenTransfer.sol
  x/evm/statedb/testdata/FlashLoan.json
Labels: precompile

#2600 chore(tests): refactor ICS20 precompile tests
  ibc/testing/endpoint.go
  nix/hermes.nix
  precompiles/ics20/approve_test.go
  precompiles/ics20/events_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query_test.go
  precompiles/ics20/setup_test.go
  precompiles/ics20/tx_test.go
  precompiles/ics20/utils_test.go
  tests/nix_tests/configs/ibc.jsonnet
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_ics20_precompile.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/utils.py
  testutil/integration/ibc/coordinator/coordinator.go
  testutil/integration/ibc/coordinator/utils.go
Labels: tests, precompile

#2597 imp(precompiles): Add unit test to ensure correct Bech32 addresses for default precompiles
  CHANGELOG.md
  app/app.go
  app/app_test.go
  precompiles/bank/bank.go
  precompiles/bech32/bech32.go
  precompiles/common/types.go
  precompiles/distribution/distribution.go
  precompiles/erc20/erc20.go
  precompiles/ics20/ics20.go
  precompiles/staking/staking.go
  precompiles/vesting/vesting.go
  scripts/changelog_checker/config.py
  utils/utils.go
Labels: tests, precompile

#2635 imp(tests): Add function to get ERC-20 balance to integration utils
  CHANGELOG.md
  testutil/integration/evmos/utils/evm.go
  testutil/integration/evmos/utils/evm_test.go
Labels: tests

#2630 Add: Support PebbleDB image
  .github/workflows/build.yml
  .github/workflows/docker-push.yml
  CHANGELOG.md
  Makefile
Labels: build, CI, docker

#2642 fix(tests): Bump Dockerfile dependency and fix make test-e2e target in Makefile
  CHANGELOG.md
  Dockerfile
  Makefile
  tests/e2e/upgrade/constants.go
Labels: build, tests

#2633 imp(evm): Remove EthAccount type and use BaseAccount instead
  CHANGELOG.md
  app/app.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
  client/docs/swagger-ui/swagger.json
  client/testnet.go
  cmd/config/config.go
  cmd/evmosd/genaccounts.go
  cmd/evmosd/testnet.go
  ibc/testing/chain.go
  precompiles/distribution/utils_test.go
  precompiles/ics20/utils_test.go
  precompiles/staking/utils_test.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/utils_test.go
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/types/v1/account.proto
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/contracts.go
  testutil/network/network.go
  types/account.go
  types/account_test.go
  utils/utils.go
  utils/utils_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/migrations/v7/types/evm.pb.go
  x/evm/module.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/types/evm.pb.go
  x/evm/types/interfaces.go
  x/evm/types/key.go
  x/evm/types/query.pb.go
  x/evm/types/utils.go
  x/feemarket/keeper/utils_test.go
  x/staking/keeper/msg_server_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/setup_test.go
  x/vesting/types/interfaces.go
  x/vesting/utils_test.go
Labels: proto, CLI, types, tests, precompile

#2643 imp(dist): Improve efficiency of reward claiming with distribution precompile
  CHANGELOG.md
  precompiles/distribution/tx.go
  precompiles/distribution/tx_test.go
Labels: tests, precompile
