Repository evmos/evmos, pull requests merged in 2024-03, with the labels that each got.

#2380 chore(evm): remove evm hooks
  CHANGELOG.md
  app/app.go
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
Labels: tests

#2364 chore(tests): migrate distribution precompiled tests
  app/ante/integration_test.go
  precompiles/bank/integration_test.go
  precompiles/common/types.go
  precompiles/distribution/distribution_test.go
  precompiles/distribution/events_test.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/query_test.go
  precompiles/distribution/setup_test.go
  precompiles/distribution/tx.go
  precompiles/distribution/tx_test.go
  precompiles/distribution/utils_test.go
  precompiles/erc20/utils_test.go
  precompiles/staking/approve.go
  precompiles/testutil/contracts/DistributionCaller.json
  precompiles/testutil/contracts/DistributionCaller.sol
  testutil/integration/common/factory/base.go
  testutil/integration/common/factory/distribution.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/fund.go
  testutil/integration/common/factory/helper.go
  testutil/integration/common/factory/sign.go
  testutil/integration/common/factory/staking.go
  testutil/integration/common/grpc/distribution.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/common/grpc/staking.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/bank.go
  testutil/integration/evmos/utils/staking.go
  x/evm/keeper/grpc_query_test.go
Labels: tests, precompile

#2388 chore(all): remove legacy handler files from repo
  CHANGELOG.md
  x/erc20/handler.go
  x/erc20/module.go
  x/evm/genesis_test.go
  x/evm/handler.go
  x/evm/handler_test.go
  x/feemarket/handler.go
  x/inflation/v1/handler.go
  x/vesting/module.go
Labels: tests

#2387 chore(tests): migrate vesting precompile tests
  precompiles/distribution/integration_test.go
  precompiles/distribution/setup_test.go
  precompiles/vesting/events.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/query_test.go
  precompiles/vesting/setup_test.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/utils_test.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/vesting.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/grpc_query_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Labels: tests, precompile

#2400 [Snyk] Security upgrade golang from 1.22rc2-bullseye to 1.22.0-bullseye
  tests/e2e/Dockerfile.repo
Labels: tests

#2404 fix(docker): Bump rclone version
  Dockerfile
Labels: build

#2402 chore(tests): migrate feemarket module tests
  testutil/integration/common/factory/base.go
  testutil/integration/common/factory/helper.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/msg_server_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Labels: tests, precompile

#2405 chore(tests): migrate inflation module tests
  app/ante/integration_test.go
  precompiles/distribution/setup_test.go
  testutil/integration/common/grpc/distribution.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/grpc/inflation.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
  x/inflation/v1/keeper/epoch_info_test.go
  x/inflation/v1/keeper/genesis_test.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
  x/inflation/v1/keeper/migrations_test.go
  x/inflation/v1/keeper/msg_server_test.go
  x/inflation/v1/keeper/params_test.go
  x/inflation/v1/keeper/periods_test.go
  x/inflation/v1/keeper/setup_test.go
  x/inflation/v1/keeper/utils_test.go
Labels: tests, precompile

#2434 fix(grpc): account address return in ValidatorAccount query response
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Labels: tests
