Repository evmos/evmos, pull requests merged in 2024-04, with the labels that each got.

#2463 chore(docker): update docker deps
  Dockerfile
  mlc_config.json
Labels: Type: Build

#2466 Update release branch with the latest version v16.0.4
  .github/workflows/lint.yml
  Dockerfile
  app/app.go
  app/forks.go
  app/upgrades/v17/constants.go
  app/upgrades/v17/upgrades.go
  mlc_config.json
Labels: Type: Build, Type: CI

#2474 chore(deps): update docker dep
  Dockerfile
Labels: build

#2475 fix(evm): Improve commit efficiency on EVM & bump IBC version to `v7.4.0`.
  CHANGELOG.md
  contracts/FlashLoan.sol
  contracts/compiled_contracts/FlashLoan.json
  contracts/flash_loan.go
  precompiles/bank/bank.go
  precompiles/distribution/distribution.go
  precompiles/ics20/ics20.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/stride/stride.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/common/grpc/staking.go
  x/evm/statedb/integration_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
Labels: tests, precompile, contracts

#2476 fix(str): Apply changes from internal audit
  precompiles/bank/integration_test.go
  precompiles/bank/setup_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/utils_test.go
  testutil/integration/evmos/utils/genesis.go
  testutil/integration/evmos/utils/unit.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/errors.go
  x/evm/keeper/params.go
  x/evm/module.go
Labels: tests, precompile

#2430 imp(evm): Add `PreExecuteCallback` function to EVM for precompiles instantiation
  app/upgrades/v17/erc20.go
  go.mod
  go.sum
  x/evm/keeper/dynamic_precompiles.go
  x/evm/keeper/dynamic_precompiles_test.go
  x/evm/keeper/precompiles.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/static_precompiles.go
Labels: tests, precompile

#2484 chore(build): bump go to 1.22
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/e2e-test.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/solidity-test.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  default.nix
  go.mod
  nix/default.nix
  tests/nix_tests/shell.nix
Labels: build, CI, tests

#2443 fix(str): Add some changes from the internal STRv2 audit
  app/app.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v17/erc20.go
  ibc/utils.go
  precompiles/erc20/approve.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/tx.go
  precompiles/erc20/tx_test.go
  precompiles/erc20/types.go
  precompiles/erc20/utils_test.go
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/inflation/v1/inflation.proto
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/token_pairs.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/EVMKeeper.go
  x/erc20/types/token_pair.go
  x/evm/keeper/dynamic_precompiles.go
  x/evm/keeper/dynamic_precompiles_test.go
  x/evm/keeper/params.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/ibc/transfer/keeper/msg_server.go
Labels: proto, tests, precompile

#2489 fix(e2e-test): update docker go version
  tests/e2e/Dockerfile.repo
Labels: tests

#2491 v18.0.0 upgrade logic
  .github/workflows/test.yml
  app/app.go
  app/forks.go
  app/upgrades/v18/constants.go
  app/upgrades/v18/upgrades.go
  mlc_config.json
  x/evm/statedb/statedb.go
Labels: Type: CI

#2502 chore(erc20): re-add deleted erc20 evm hooks
  CHANGELOG.md
  app/app.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/types/events.go
Labels: tests

#2503 chore(cli): re-introduce convert coin txn for erc20 module
  CHANGELOG.md
  x/erc20/client/cli/tx.go
Labels: CLI

#2507 chore(vesting): add lockedUpVested delegations in LockedCoins calculation
  CHANGELOG.md
  x/vesting/keeper/integration_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/clawback_vesting_account_test.go
Labels: tests

#2522 chore(str): change setup for strv2 bookeeping tests
  x/erc20/strv2/strv2_integration_test.go
  x/erc20/strv2/strv2_integration_utils_test.go
Labels: tests

#2527 chore(strv2): str bookkeping unit tests
  x/erc20/keeper/str_v2_test.go
Labels: tests

#2528 chore(strv2): address comments
  contracts/wevmos.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/str_v2.go
  x/erc20/strv2/strv2_hooks_test.go
Labels: tests, contracts

#2508 feat(str): STRV2 bookkeeping
  CHANGELOG.md
  contracts/WEVMOS.sol
  contracts/compiled_contracts/WEVMOS.json
  contracts/wevmos.go
  ibc/testing/endpoint.go
  testutil/integration/ibc/coordinator/coordinator.go
  utils/utils.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/str_v2.go
  x/erc20/keeper/str_v2_test.go
  x/erc20/keeper/testdata/tokenTransfer.go
  x/erc20/keeper/testdata/tokenTransfer.json
  x/erc20/keeper/testdata/tokenTransfer.sol
  x/erc20/strv2/strv2_hooks_test.go
  x/erc20/strv2/strv2_integration_test.go
  x/erc20/strv2/strv2_integration_utils_test.go
  x/erc20/types/events.go
  x/erc20/types/keys.go
  x/ibc/transfer/keeper/msg_server_test.go
Labels: tests, contracts, feature
